{% extends 'base.html' %}
{% load static %}
{% block base %}
<style>
  button {
    background-color: #196F3D;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.8;
  }
</style>
<main class="login">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 col-lg-6">
        <div class="card loginCard my-4">
          <div class="card-body">
            <div class="pt-3 pb-2">
              <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
              <p class="text-center small">Enter your details to create account</p>
            </div>
            <form class="row" action="{% url 'registerAccount' %}" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-2">
                    <label class="form-label">LTR Name</label>
                    <input type="text" name="lTRName" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-2">
                    <label class="form-label">LTR Email</label>
                    <input type="email" name="lTRMail" class="form-control" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-2">
                    <label class="form-label">Phone Number</label>
                    <input type="text" name="phoneNumber" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-2">
                    <label class="form-label">Business Registration Number</label>
                    <input type="text" name="businessRegNo" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-2">
                    <label class="form-label">Postal Address</label>
                    <input type="text" name="postalAddress" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-2">
                    <label class="form-label">City</label>
                    <input type="text" name="city" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-2">
                    <label class="form-label">Password</label>
                    <input type="password" name="Password" class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-2">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" name="Password2" class="form-control" required>
                  </div>
                  <button type="submit" class="btn btn-success w-100">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="right my-4">
          <div class="row">
            <div class="col-md-12">
              <a href="{% url 'login' %}" type="button" class="signUpLink btn btn-info">Sign In? <i
                  class="las la-angle-double-right"></i></a>
              <div class="Authlogo mx-auto text-center">
                <img src="../../static/img/logo/ke.png" class="img-fluid" alt="" srcset="">

              </div>
              <div class="text-center mt-2">
                <!--alert -->
                {% if messages %}
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert d-flex align-items-center alert-dismissible alert-success" role="alert">
                  <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
                  <div class="a-icon mx-2">
                    {{message}}
                  </div>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert d-flex align-items-center alert-dismissible alert-info" role="alert">
                  <i class="las la-exclamation-circle" style="color: white;font-size: 2rem"></i>
                  <div class="a-icon mx-2">
                    {{message}}
                  </div>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert d-flex align-items-center alert-dismissible alert-danger" role="alert">
                  <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
                  <div class="a-icon mx-2">
                    {{message}}
                  </div>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
              </div>

              <div class="right-texts my-3 mx-auto text-center">
                <h4>Welcome to Veterinary Medicines Directorate</h4>
                <p>
                  The Veterinary Medicines Directorate (VMD) is a new agency tasked with regulating the manufacture,
                  importation, exportation, registration, distribution,
                  prescription and dispensing of veterinary medicines and other animal health products in Kenya.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}