<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\Python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\KMPDC-ESS" />
    <add key="WSGI_HANDLER" value="VMD.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="VMD.settings" />
  </appSettings>
</configuration>