<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="{% url 'dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <!-- <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Registration</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'Registration' %}">
            <i class="bi bi-circle"></i><span>Register</span>
          </a>
        </li>
        <li>
          <a href="{% url 'retention' %}">
            <i class="bi bi-circle"></i><span>Retention</span>
          </a>
        </li>
        <li>
          <a href="{% url 'renew' %}">
            <i class="bi bi-circle"></i><span>Renew Registration</span>
          </a>
        </li>

      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'gmp' %}" data-bs-target="#components-nav-two"
        data-bs-toggle="collapse" href="#">
        <i class="bi bi-activity"></i>
        <span>Good Manufacturing Practices</span>
      </a>
      <ul id="components-nav-two" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'gmp' %}">
            <i class="bi bi-circle"></i><span>GMP</span>
          </a>
        </li>
        <li>
          <a href="{% url 'newApplication' %}">
            <i class="bi bi-circle"></i><span>new application</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'appeal' %}">
        <i class="bi bi-arrow-repeat"></i>
        <span>Appeal</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'variation' %}">
        <i class="bi bi-back"></i>
        <span>Variation</span>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'permit' %}">
        <i class="bi bi-back"></i>
        <span>Wholesale Dealers Veterinary Pharmacy Permit</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'RetailersPermit' %}">
        <i class="bi bi-back"></i>
        <span>Retail Veterinary Pharmacy Permit Application</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'advertise' %}">
        <i class="bi bi-back"></i>
        <span>Advertisement</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'Disposal' %}">
        <i class="bi bi-back"></i>
        <span>Disposal Request</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'ManufacturingLicense' %}">
        <i class="bi bi-back"></i>
        <span>Manufacturing License</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'profile' %}">
        <i class="bi bi-person-circle"></i>
        <span>Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'faq' %}">
        <i class="bi bi-question-circle-fill"></i>
        <span>F.A.Q</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'Manual' %}">
        <i class="bi bi-question-circle-fill"></i>
        <span>Manual</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'logout' %}">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>

</aside><!-- End Sidebar-->