<form action="#" method="POST">
    {% csrf_token %}
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h5>Particulars of the Applicant</h5>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">Company Name </label>
                    <input type="text" class="form-control" name="companyName">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Company Address</label>
                    <input type="text" class="form-control" name="companyAddress">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Company Country </label>
                    <select name="CountryOrigin" class="form-select" aria-label="Default select example">
                        <option selected value="" disabled>--Select--</option>
                        {% for res in country %}
                        <option value="{{res.Code}}">{{res.Name}}</option>
                        {% empty %}
                        <option value="KE">KENYA</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4">
                    <label class="form-label">Company Telephone </label>
                    <input type="text" class="form-control" name="companyTel">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Company Fax </label>
                    <input type="text" class="form-control" name="companyFax">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Company Email </label>
                    <input type="email" class="form-control" name="companyEmail">
                </div>
            </div>
            <hr class="dropdown-divider">
            <h5>Summary of the device</h5>
            <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label class="form-label">Classification of device <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="Classification" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Device Name</label>
                            <input type="text" class="form-control" name="prodName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Device Overview<span class="text-danger">*</span></label>
                                <textarea class="form-control longText" name="DeviceOverview"></textarea>
                                <div class="form-text">introductory descriptive information on the
                                    medical device and
                                    any novel features
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-12">
                            <label class="form-label">Commercial marketing history</label>
                            <textarea class="form-control longText" name="marketingHistory"></textarea>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-12">
                            <label class="form-label">Intended uses and indications in
                                labelling</label>
                            <textarea class="form-control longText" name="intendedUse"></textarea>
                            <div class="form-text">
                                According to the data supplied by the manufacturer in the
                                instructions as well as the functional capability of the device.
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-12">
                            <label class="form-label">Important safety/performance related
                                information</label>
                            <textarea class="form-control longText" name="ImportantSafety"></textarea>
                        </div>
                    </div>
                    <div class="row my-2">
                        <h5>Description of the device</h5>
                        <div class="col-md-12">
                            <label class="form-label">Visual description</label>
                            <textarea class="form-control longText" name="visualDescription"></textarea>
                            <div class="form-text">Detailed description of the device attributes is
                                necessary to
                                explain how the device functions, the basic scientific concepts that
                                form the
                                fundamentals for the device, the component materials and accessories
                                used in its
                                principles of operation as well as packaging.</div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-12">
                            <label class="form-label">Instructions of Use</label>
                            <textarea class="form-control longText" name="instructions" id=""></textarea>
                            <div class="form-text">Instructions of use according to information from
                                the
                                manufacturer including the procedures, methods, frequency, duration,
                                quantity and
                                preparation to be followed for safe use of the medical device.</div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label class="form-label">Description</label>
                            <textarea class="form-control longText" name="diseaseDescription" id=""></textarea>
                            <div class="form-text">Description of the disease or condition and the
                                population for
                                which the device should not be used for the purpose of diagnosis or
                                treatment</div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Specific hazard alert</label>
                            <textarea class="form-control longText" name="hazardAlert" id=""></textarea>
                            <div class="form-text">Specific hazard alert information that a user
                                needs to know
                                before using the device</div>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label class="form-label">Special care necessary</label>
                            <textarea class="form-control longText" name="Care"></textarea>
                            <div class="form-text">Special care necessary for the safe and effective
                                use of the
                                device.</div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Characterization of materials</label>
                            <textarea class="form-control longText" name="Characterization" id=""></textarea>
                            <div class="form-text">Chemical, biological and physical
                                characterization of materials
                                that have direct or indirect contact with the animal body.</div>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="col-md-12">
                        <label class="form-label">Functional characteristics</label>
                        <textarea class="form-control longText" name="Functional"></textarea>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="row my-2">
                        <h5>Device Labelling</h5>
                        <div class="col-md-6">
                            <label class="form-label">Labels on the device</label>
                            <input type="text" class="form-control" name="LabelsOnDevice">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Device packaging</label>
                            <input type="text" class="form-control" name="DevicePackaging" id="">
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <input class="form-check-input" type="checkbox" value="True" name="Manual">
                                <label class="form-check-label text-primary">
                                    Device has instructions for use/user’s manual
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="form-label">Signatory Name</label>
                            <input type="text" class="form-control" name="signatoryName">
                        </div>
                        <div class="col-md-6">
                            <label for="" class="form-label">Signatory Position</label>
                            <input type="text" class="form-control" name="signatoryPosition">
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <input class="form-check-input" type="checkbox" value="True" name="iAgree" checked>
                                <label class="form-check-label text-primary">
                                    I hereby apply for registration of
                                    the product detailed above and
                                    declare that all the information herein is correct
                                    and true.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success my-2">Submit</button>
    </div>
</form>