{% extends 'base.html' %}
{% load static %}
{% block base %}

<!--Header-->
{% include 'navbar.html' %}
<!-- End Header -->

<!-- Sidebar-->
{% include 'sidebar.html' %}
<!-- End Sidebar -->

<main id="main" class="main">
    {% if status == 'Open' %}
    <div class="pagetitle">
        <h1>{{class}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Registration' %}">Register</a></li>
                <li class="breadcrumb-item active">{{class}}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <!-- Vaccine Registration Form -->
    {% if class == 'VETERINARY VACCINE' %}

    {% include 'vaccine.html' %}

    {% endif %}
    <!-- End Form -->
    {% else %}
    <section class="section contact error-404 text-center">

        <div class="row">
            <div class="col-md-12">
                <h1>405</h1>
                <h2>Request not Allowed.</h2>
                <p>
                    The selected product ID {{res.ProductNo}} has been registered, <a href="#">click here</a> to view
                    status. Or <a class="btn" href="{% url 'Registration' %}">Register new product</a>
                </p>
            </div>
        </div>
    </section>
    {% endif %}

</main>


{% include 'footer.html' %}

{% endblock %}