{% extends 'base.html' %}
{% load static %}
{% block base %}


<!--Header-->
{% include 'navbar.html' %}
<!-- End Header -->

<!-- Sidebar-->
{% include 'sidebar.html' %}
<!-- End Sidebar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<main id="main" class="main">
    <section class="section dashboard mt-4">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert d-flex align-items-center alert-dismissible alert-success" role="alert">
                    <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
                    <div class="a-icon mx-2">
                        {{message}}
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert d-flex align-items-center alert-dismissible alert-info" role="alert">
                    <i class="las la-exclamation-circle" style="color: white;font-size: 2rem"></i>
                    <div class="a-icon mx-2">
                        {{message}}
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert d-flex align-items-center alert-dismissible alert-danger" role="alert">
                    <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
                    <div class="a-icon mx-2">
                        {{message}}
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="row g-2 my-1">
            <div class="col-md-3">
                <div class="card h-100 info-card revenue-card">
                    <div class="card-body">
                        <h5 class="card-title">Payment<span> | {{res.Currency_Code}}</span></h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-currency-dollar"></i>
                            </div>
                            <div class="ps-3">
                                <h6>${{res.Amount_Payable}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-cherry h-100 sales-card">
                    <div class="card-body">
                        <h5 class="card-title text-white">Document Stage<span> | Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrow-left-right"></i>
                            </div>
                            <div class="ps-3">
                                <h6>Apply</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100 actionCard text-center">
                    <i class="bi bi-file-earmark-bar-graph my-3"></i>
                    <h6>View Report</h6>
                </div>
            </div>
            <div class="col-md-3">
                <a href="#" data-bs-toggle="modal" data-bs-target="#submission">
                    <div class="card h-100 actionCard text-center">
                        <i class="bi bi-file-earmark-bar-graph my-3"></i>
                        <h6>My Submission</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="row g-2 my-1">
            <div class="col-md-6">
                <div class="card Startcard l-bg-blue-dark h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Application Status</h5>
                        </div>
                        <div class="row align-items-center d-flex">
                            <div class="col-8">
                                <h4 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h4>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100 actionCard text-center">
                    <i class="bi bi-file-earmark-bar-graph my-3"></i>
                    <h6>Download Certificate</h6>
                </div>
            </div>
            <div class="col-md-3">
                <form action="{% url 'makePayment' res.ProductNo %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                        <div class="card h-100 actionActive actionCard  text-center">
                            <i class="bi bi-wallet my-3"></i>
                            <h6>Proceed To Payment </h6>
                        </div>
                    </button>
                </form>
            </div>
        </div>
        {% if class == 'VETERINARY DEVICE' %}

        {% else %}
        <div class="row my-3 gx-2">
            <div class="col-md-12">
                <div class="card h-100">
                    <div class="card-header" style="border: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="card-title" style="display:inline-block;float:right ;">Ingredients
                                </h5>
                                <div class="inline mt-2" style="display:inline-block;">
                                    <button type="button" class="btn text-danger" data-bs-toggle="modal"
                                        data-bs-target="#activeIngredients"><i class="bi bi-plus-circle"></i>
                                        Add New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table
                            class="display table  table-striped dt-responsive table-responsive-lg table-bordered datatable">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th>Ingredient Type</th>
                                    <th scope="col">Quantity per dose</th>
                                    <th scope="col">Strength</th>
                                    <th>Molecular Formula</th>
                                    <th>Molecular Weight</th>
                                    <th>Proportion</th>
                                    <th scope="col">Specification</th>
                                    <th>Reason For Inclusion</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in ingredient %}
                                <tr>
                                    <td>{{res.Ingredient_Name}}</td>
                                    <td>{{res.Ingredient_Type}}</td>
                                    <td>{{res.Quantity_per_dose}}</td>
                                    <td>{{res.Strength_of_Active_Ingredients__AI__per_unit_dosage_}}</td>
                                    <td>{{res.Molecular_and_structural_formula}}</td>
                                    <td>{{res.Molecular_weight_for_each_active_ingredient_}}</td>
                                    <td>{{res.Proportion}}</td>
                                    <td>{{res.Specification_of_purity_of_the_active_substance_}}</td>
                                    <td>{{res.Reason_For_Inclusion}}</td>
                                    <td><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i
                                                class="fas fa-trash-alt text-danger"></i> </a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row my-3 gx-2">
            {% if class == 'VETERINARY DEVICE' %}
            <div class="col-md-8">
                <div class="card h-100">
                    <div class="card-header" style="border: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="card-title" style="display:inline-block;float:right ;">Essential Principles
                                    and methods used to demonstrate conformity
                                </h5>
                                <div class="inline mt-2" style="display:inline-block;">
                                    <button type="button" class="btn text-danger" data-bs-toggle="modal"
                                        data-bs-target="#principles"><i class="bi bi-plus-circle"></i>
                                        Add New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table
                            class="display table  table-striped dt-responsive table-responsive-lg table-bordered datatable">
                            <thead>
                                <tr>
                                    <th scope="col">Essential Principle</th>
                                    <th>General Method</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in method %}
                                <tr>
                                    <td>{{res.Essential_Principle}}</td>
                                    <td>{{res.General_Method}}</td>
                                    <td><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i
                                                class="fas fa-trash-alt text-danger"></i> </a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Attachments</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                            </div>
                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
            {% else %}
            <div class="col-md-6">
                <div class="card h-100 tile">
                    <div class="card-headers text-center" style="border: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="card-title text-white">Countries Registered

                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <ul class="list-group purple">
                            {% for res in CountriesRegister %}
                            <li class="list-group-item bg-primary">
                                {{res.Country_Name}}
                                <i class="bi bi-trash-fill text-danger" style="float: right;"></i>
                            </li>
                            <hr style="color: white;">
                            {% endfor %}
                        </ul>
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                data-bs-target="#CountryRegistered"> <i class="bi bi-plus-circle text-white"></i>
                                Add New</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Attachments</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                            </div>
                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
            {% endif %}

        </div>
        <div class="row my-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="border: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="card-title" style="display:inline-block;float:right ;">Manufactures
                                    Particulars</h5>
                                <div class="inline mt-2" style="display:inline-block;">
                                    <button type="button" class="btn text-danger" data-bs-toggle="modal"
                                        data-bs-target="#createParticulars"><i class="bi bi-plus-circle"></i>
                                        Add New</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <table
                            class="display table  table-striped dt-responsive table-responsive-lg table-bordered datatable">
                            <thead>
                                <tr>
                                    <th scope="col">Manufacturer Name</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Activity</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in manufacturer %}
                                <tr>
                                    <td>{{res.Manufacture_Company_Name_}}</td>
                                    <td>{{res.Manufacturing_plant_address}}</a></td>
                                    <td>{{res.Activity}}</td>
                                    <td>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i
                                                class="fas fa-trash-alt text-danger"></i> </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12">
                <div class="card h-100">
                    <div class="card-header" style="border: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="card-title" style="display:inline-block;float:right ;">Marketing
                                    Authorisation in the country of origin and other countries
                                </h5>
                                <div class="inline mt-2" style="display:inline-block;">
                                    <button type="button" class="btn text-danger" data-bs-toggle="modal"
                                        data-bs-target="#MarketingAuthorization"><i class="bi bi-plus-circle"></i>
                                        Add New</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table
                            class="display table  table-striped dt-responsive table-responsive-lg table-bordered datatable">
                            <thead>
                                <tr>
                                    <th scope="col">Authorization Status</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Proprietary Name</th>
                                    <th scope="col">Reason</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in marketing %}
                                <tr>
                                    <td>{{res.Marketing_Status}}</td>
                                    <td>{{res.Country}}</td>
                                    <td>{{res.Date}}</td>
                                    <td>{{res.Proprietary_name}}</td>
                                    <td>{{res.Reason}}</td>
                                    <td><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i
                                                class="fas fa-trash-alt text-danger"></i> </a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if class == 'FEED ADDITIVES' or class == 'BIOCIDAL PRODUCTS' %}
        <div class="row my-3">
            <div class="col-md-12">
                <div class="card h-100">
                    <div class="card-header" style="border: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="card-title" style="display:inline-block;float:right ;">Additives/Impurities
                                </h5>
                                <div class="inline mt-2" style="display:inline-block;">
                                    <button type="button" class="btn text-danger" data-bs-toggle="modal"
                                        data-bs-target="#Additives"><i class="bi bi-plus-circle"></i>
                                        Add New</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table
                            class="display table  table-striped dt-responsive table-responsive-lg table-bordered datatable">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Proportion</th>
                                    <th scope="col">Specification</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in additive %}
                                <tr>
                                    <td>{{res.Ingredient_Name_Addictives_}}</td>
                                    <td>{{res.Proportion_e_g_____ppm_units__Addictives_}}</td>
                                    <td>{{res.Purpose_of_use__Addictives_}}</td>
                                    <td><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i
                                                class="fas fa-trash-alt text-danger"></i> </a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
</main>


<!-- Modals -->
<div class="modal fade" id="submission" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Full Screen Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Create Manufacturer particulars -->
<div class="modal fade" id="createParticulars" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Particulars of the Manufacturer and Activity</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'ManufacturesParticulars' res.ProductNo %}">
                    {% csrf_token %}
                    <input type="hidden" name="myAction" value="insert">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Manufacturer Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="manufacturerName" id="manufacturerName"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Plant Address<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="plantAddress" id="plantAddress" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Activity <span class="text-danger">*</span></label>
                                <textarea class="form-control longText" name="activity" id="activity"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success my-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Create Ingredients -->
<div class="modal fade" id="activeIngredients" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Ingredients</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'Ingredients' res.ProductNo %}">
                    {% csrf_token %}
                    <input type="hidden" name="myAction" value="insert">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="form-label">Ingredient Type <span class="text-danger">*</span></label>
                                <select class="form-select" name="ingredientType" id="ingredientType"
                                    aria-label="Default select example" required>
                                    <option selected>Choose .. </option>
                                    <option value="1">Active</option>
                                    <option value="2">Inactive</option>
                                    <option value="3">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="form-label">Ingredient Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="ingredientName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="form-label">Quantity Per Dose<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="quantityPerDose" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="form-label">Strength Of Ingredient<span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="strengthOfIngredient" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="form-label">Molecular Formula<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="MolecularFormula" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label class="form-label">Molecular Weight<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="MolecularWeight" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Proportion(e.g. %, ppm, units)<span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="Proportion" required>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="ReasonForInclusionRow" style="display: none;">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Reason For Inclusion <span
                                        class="text-danger">*</span></label>
                                <textarea class="form-control longText" name="ReasonForInclusion"
                                    id="ReasonForInclusion" disabled></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Specification <span class="text-danger">*</span></label>
                                <textarea class="form-control longText" name="specification"></textarea>
                                <div class="form-text">
                                    Specification of purity of the active substance as manufactured in g/kg, g/l or %w/w
                                    (v/v) as appropriate, providing inclusively the upper and lower limit
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success my-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Country Registered -->
<div class="modal fade" id="CountryRegistered" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Country Registered</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'CountryRegistered' res.ProductNo %}">
                    {% csrf_token %}
                    <input type="hidden" name="myAction" value="insert">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Country <span class="text-danger">*</span></label>
                                <select class="form-select" aria-label="Default select example" name="country">
                                    <option selected value="" disabled>Select Country</option>
                                    {% for res in country %}
                                    <option value="{{res.Name}}">{{res.Name}}</option>

                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success my-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MarketingAuthorization -->
<div class="modal fade" id="MarketingAuthorization" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Marketing Authorization</h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'MarketingAuthorization' res.ProductNo %}">
                    {% csrf_token %}
                    <input type="hidden" name="myAction" value="insert">
                    <div class="row my-2">
                        <h5>Marketing Authorisation in the country of origin and other countries</h5>
                        <div class="col-md-6">
                            <label class="form-label">Authorisation Status</label>
                            <select class="form-select" name="AuthorisationStatus" id="AuthorisationStatus">
                                <option selected>Choose...</option>
                                <option value="1">Authorised</option>
                                <option value="2">Refused</option>
                                <option value="3">Withdrawn (by applicant after authorisation)</option>
                                <option value="4">Suspended/revoked (by competent authority)</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Country</label>
                            <select class="form-select" name="MarketingCountry" id="MarketingCountry" disabled>
                                <option selected disabled value="">Choose...</option>
                                {% for res in country %}
                                <option value="{{res.Name}}">{{res.Name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <div class="row my-2">
                        <div class="col-md-12">
                            <label class="form-label">Date of authorisation/Refusal/Withdrawal/Suspension</label>
                            <input type="date" id="DateAuthorisation" class="form-control" name="DateAuthorisation"
                                disabled>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label class="form-label">Proprietary Name</label>
                            <input type="text" class="form-control" name="ProprietaryName" id="ProprietaryName"
                                disabled>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Authorisation number</label>
                            <input type="text" class="form-control" name="AuthorisationNumber" id="AuthorisationNumber"
                                disabled>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-12">
                            <label class="form-label">Reason</label>
                            <textarea class="form-control longText" name="AuthorisationReason" id="AuthorisationReason"
                                disabled></textarea>

                            <div class="form-text">State reasons for not being authorized</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success my-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Additives -->
<div class="modal fade" id="Additives" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Additives/Impurities</h5>
                <p>The identity of any impurities and additives including by-products of synthesis, optical isomers,
                    degradation products (if the substance is unstable) un-reacted and end-groups etc. of polymers and
                    un-reacted starting materials of UVC-substances</p>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'Additive' res.ProductNo %}">
                    {% csrf_token %}
                    <input type="hidden" name="myAction" value="insert">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Additive Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="AdditiveName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Proportion(e.g. %, ppm, units)<span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="Proportion" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Specification <span class="text-danger">*</span></label>
                                <textarea class="form-control longText" name="specification"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success my-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End -->

<!-- Additives -->
<div class="modal fade" id="principles" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <p>The manufacturer of the device will determine which principles are appropriate for a particular
                    device while taking into account the intended purpose of the device.</p>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'essentialPrinciples' res.ProductNo %}">
                    {% csrf_token %}
                    <input type="hidden" name="myAction" value="insert">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Essential Principle<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="essentialPrinciple" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Method<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="generalMethod" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success my-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End -->
<script>
    $(document).ready(function () {
        $('#AuthorisationStatus').on('change', function () {
            if (this.value == "1") {
                $('#MarketingCountry').prop('disabled', false);
                $('#DateAuthorisation').prop('disabled', false);
                $('#ProprietaryName').prop('disabled', false);
                $('#AuthorisationNumber').prop('disabled', false);
                $('#CertificateVeterinary').prop('disabled', false);
                $('#AuthorisationReason').prop('disabled', true);
            } else if (this.value == "2") {
                $('#MarketingCountry').prop('disabled', false);
                $('#DateAuthorisation').prop('disabled', false);
                $('#AuthorisationReason').prop('disabled', false);
                $('#CertificateVeterinary').prop('disabled', false);
                $('#ProprietaryName').prop('disabled', true);
                $('#AuthorisationNumber').prop('disabled', true);
            } else if (this.value == "3") {
                $('#MarketingCountry').prop('disabled', false);
                $('#DateAuthorisation').prop('disabled', false);
                $('#AuthorisationReason').prop('disabled', false);
                $('#CertificateVeterinary').prop('disabled', false);
                $('#ProprietaryName').prop('disabled', false);
                $('#AuthorisationNumber').prop('disabled', true);
            } else if (this.value == "4") {
                $('#MarketingCountry').prop('disabled', false);
                $('#DateAuthorisation').prop('disabled', false);
                $('#AuthorisationReason').prop('disabled', false);
                $('#CertificateVeterinary').prop('disabled', false);
                $('#ProprietaryName').prop('disabled', false);
                $('#AuthorisationNumber').prop('disabled', true);
            }

        });
        $('#ingredientType').on('change', function () {
            if (this.value == "1") {
                $('#ReasonForInclusionRow').hide()
                $('#ReasonForInclusion').prop('disabled', true);
            } else {
                $('#ReasonForInclusionRow').show(1000)
                $('#ReasonForInclusion').prop('disabled', false);
            }
        });

    })
</script>
{% include 'footer.html' %}

{% endblock %}