{% extends 'base.html' %}
{% load static %}
{% block base %}

<!--Header-->
{% include 'navbar.html' %}
<!-- End Header -->

<!-- Sidebar-->
{% include 'sidebar.html' %}
<!-- End Sidebar -->

<main id="main" class="main">

    <div class="pagetitle">
        <div class="row">
            <div class="col-md-12">
                <h1>Product Registration</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Registration</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    style="float: right;">
                    <i class="bi bi-plus"></i> New Product</button>
            </div>
        </div>

    </div><!-- End Page Title -->

    <section class="section contact">
        <div class="row">
            <div class="col-md-12">
                {% include 'alert.html' %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">New Applications ({{openCount}})</h5>
                        <table
                            class="display table table-striped dt-responsive table-responsive-lg table-bordered datatable">
                            <thead>
                                <tr>
                                    <th>Product Class</th>
                                    <th>Document Date</th>
                                    <th>Types Of Manufacturer</th>
                                    <th>Amount Payable</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in open %}
                                <tr>
                                    <td>{{res.Veterinary_Classes}}</td>
                                    <td>{{res.Document_Date}}</td>
                                    <td>{{res.Types_Of_Manufacturers}}</td>
                                    <td><span class="text-primary"
                                            style="margin-right: 2px;">{{res.Currency_Code}}</span>{{res.Amount_Payable}}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#static{{res.ProductNo}}"><i
                                                class="bi bi-pencil-square"></i>
                                            Edit</button>
                                        <!--Edit Modal -->
                                        <div class="modal fade" id="static{{res.ProductNo}}" data-bs-backdrop="static"
                                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">Edit
                                                            Product {{res.ProductNo}}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{% url 'productClass' %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="prodNo"
                                                                value="{{res.ProductNo}}">
                                                            <input type="hidden" name="myAction" value="modify">
                                                            <div class="row mb-2">
                                                                <div class="col-md-12">
                                                                    <label class="form-label">Product
                                                                        Type</label>
                                                                    <select class="form-select" name="vetClass">
                                                                        <option selected disabled value="">
                                                                            Select Product</option>
                                                                        {% for res in product %}
                                                                        <option value="{{res.Class}}">
                                                                            {{res.Class}}</option>
                                                                        {% empty %}
                                                                        <option selected disabled value="">Null
                                                                        </option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <label class="form-label">Manufacturer
                                                                        Type</label>
                                                                    <select class="form-select"
                                                                        name="typeofManufacture">
                                                                        <option value="1">Local</option>
                                                                        <option value="2">Foregn</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close</button>
                                                                <button type="submit"
                                                                    class="btn btn-primary">Submit</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="{% url 'applications' res.ProductNo %}" type="button"
                                            class="btn btn-success"> Start <i class="bi bi-arrow-right"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Registration Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Register Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'productClass' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="prodNo" value="">
                    <input type="hidden" name="myAction" value="insert">
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <label class="form-label">Product Type</label>
                            <select class="form-select" name="vetClass">
                                <option selected disabled value="">Select Product</option>
                                {% for res in product %}
                                <option value="{{res.Class}}">{{res.Class}}</option>
                                {% empty %}
                                <option selected disabled value="">Null</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Manufacturer Type</label>
                            <select class="form-select" name="typeofManufacture">
                                <option value="1">Local</option>
                                <option value="2">Foregn</option>
                            </select>
                        </div>
                    </div>
                    <div class="footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}