{% extends 'base.html' %}
{% load static %}
{% block base %}

<!--Header-->
{% include 'navbar.html' %}
<!-- End Header -->

<!-- Sidebar-->
{% include 'sidebar.html' %}
<!-- End Sidebar -->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Contact</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Registration</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section contact">
        <div class="row g-1 mt-5">
            <div class="col-md-3">
                <div class="card w-100 h-100 hover-div">
                    <a href="{% url 'VeterinaryPharmaceutical' %}">
                        <div class="content-box color-effect-1">
                            <h3>Veterinary </br> pharmaceutical</h3>
                            <div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
                                <div class="box-icon">
                                    <i class="bi bi-plus-lg"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card w-100 h-100 hover-div">
                    <a href="{% url 'vaccineRegistration' %}">
                        <div class="content-box color-effect-1">
                            <h3>Veterinary </br> vaccine</h3>
                            <div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
                                <div class="box-icon">
                                    <i class="bi bi-plus-lg"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card w-100 h-100 hover-div">
                    <a href="{% url 'pesticideRegistration' %}">
                        <div class="content-box color-effect-1">
                            <h3>Veterinary </br> pesticide</h3>
                            <div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
                                <div class="box-icon">
                                    <i class="bi bi-plus-lg"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card w-100 h-100 hover-div">
                    <a href="#">
                        <div class="content-box color-effect-1">
                            <h3>Feed </br> additives</h3>
                            <div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
                                <div class="box-icon">
                                    <i class="bi bi-plus-lg"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row g-1 mt-2">
            <div class="col-md-3">
                <div class="card w-100 h-100 hover-div">
                    <a href="#">
                        <div class="content-box color-effect-1">
                            <h3 style="margin-bottom: 2rem;">Biocidal</h3>
                            <div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
                                <div class="box-icon">
                                    <i class="bi bi-plus-lg"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card w-100 h-100 hover-div">
                    <a href="#">
                        <div class="content-box color-effect-1">
                            <h3>Veterinary </br> devices</h3>
                            <div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
                                <div class="box-icon">
                                    <i class="bi bi-plus-lg"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card w-100 h-100 hover-div">
                    <a href="#">
                        <div class="content-box color-effect-1">
                            <h3>Alternative </br> medicine</h3>
                            <div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
                                <div class="box-icon">
                                    <i class="bi bi-plus-lg"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card w-100 h-100 hover-div" style="background:#12bf68 ;">
                    <a href="#">
                        <div class="content-box color-effect-1">
                            <h3>My </br> Applications</h3>
                            <div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
                                <div class="box-icon">
                                    <i class="bi bi-eye-fill"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'footer.html' %}

{% endblock %}