{% extends 'base.html' %}
{% load static %}
{% block base %}

<!--Header-->
{% include 'navbar.html' %}
<!-- End Header -->

<!-- Sidebar-->
{% include 'sidebar.html' %}
<!-- End Sidebar -->

<main id="main" class="main">

    <div class="pagetitle">
        <div class="row">
            <div class="col-md-12">
                <h1>My Applications</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Registration</li>
                        <li class="breadcrumb-item active">My Applications</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div><!-- End Page Title -->

    <section class="section contact">
        <div class="row">
            <div class="col-md-12">
                {% include 'alert.html' %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">My Applications</h5>
                        <!-- Bordered Tabs Justified -->
                        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#bordered-justified-home" type="button" role="tab"
                                    aria-controls="home" aria-selected="true">New
                                    ({{openCount}})</button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#bordered-justified-profile" type="button" role="tab"
                                    aria-controls="profile" aria-selected="false"> Pending Approval
                                    ({{pendCount}})</button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#bordered-justified-contact" type="button" role="tab"
                                    aria-controls="contact" aria-selected="false">Approved
                                    ({{appCount}})</button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100" id="pending-tab" data-bs-toggle="tab"
                                    data-bs-target="#bordered-justified-pending" type="button" role="tab"
                                    aria-controls="contact" aria-selected="false">Rejected
                                    ({{rejectedCount}})</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                            <div class="tab-pane fade show active my-4" id="bordered-justified-home" role="tabpanel"
                                aria-labelledby="home-tab">
                                <table
                                    class="display table table-striped dt-responsive table-responsive-lg table-bordered datatable w-100">
                                    <thead>
                                        <tr>
                                            <th>Product No</th>
                                            <th>Product Name</th>
                                            <th>Product Class</th>
                                            <th>Manufacturer Type</th>
                                            <th>Status</th>
                                            <th>Document Date</th>
                                            <th>Document Stage</th>
                                            <th>Amount Payable</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for res in open %}
                                        <tr>
                                            <td>{{res.ProductNo}}</td>
                                            <td>{{res.Productname}}</td>
                                            <td>{{res.Veterinary_Classes}}</td>
                                            <td>{{res.Types_Of_Manufacturers}}</td>
                                            <td class="text-success">{{res.Status}}</td>
                                            <td>{{res.Document_Date}}</td>
                                            <td>{{res.DocumentStage}}</td>
                                            <td><span class="text-primary"
                                                    style="margin-right: 2px;">{{res.Currency_Code}}</span>{{res.Amount_Payable}}
                                            </td>
                                            <td>
                                                <a href="{% url 'productDetails' res.ProductNo %}" type="button"
                                                    class="btn btn-success"> View <i class="bi bi-eye"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade my-4" id="bordered-justified-profile" role="tabpanel"
                                aria-labelledby="profile-tab">
                                <table
                                    class="display table table-striped dt-responsive table-responsive-lg table-bordered w-100">
                                    <thead>
                                        <tr>
                                            <th>Product No</th>
                                            <th>Product Name</th>
                                            <th>Product Class</th>
                                            <th>Status</th>
                                            <th>Document Date</th>
                                            <th>Document Stage</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for res in pending %}
                                        <tr>
                                            <td>{{res.ProductNo}}</td>
                                            <td>{{res.Productname}}</td>
                                            <td>{{res.Veterinary_Classes}}</td>
                                            <td class="text-success">{{res.Status}}</td>
                                            <td>{{res.Document_Date}}</td>
                                            <td>{{res.DocumentStage}}</td>
                                            <td>
                                                <a href="{% url 'productDetails' res.ProductNo %}" type="button"
                                                    class="btn btn-success"> View <i class="bi bi-eye"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade my-4" id="bordered-justified-contact" role="tabpanel"
                                aria-labelledby="contact-tab">
                                <table
                                    class="display table table-striped dt-responsive table-responsive-lg table-bordered w-100">
                                    <thead>
                                        <tr>
                                            <th>Product No</th>
                                            <th>Product Name</th>
                                            <th>Product Class</th>
                                            <th>Status</th>
                                            <th>Document Date</th>
                                            <th>Document Stage</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for res in approved %}
                                        <tr>
                                            <td>{{res.ProductNo}}</td>
                                            <td>{{res.Productname}}</td>
                                            <td>{{res.Veterinary_Classes}}</td>
                                            <td class="text-success">{{res.Status}}</td>
                                            <td>{{res.Document_Date}}</td>
                                            <td>{{res.DocumentStage}}</td>
                                            <td>
                                                <a href="{% url 'productDetails' res.ProductNo %}" type="button"
                                                    class="btn btn-success"> View <i class="bi bi-eye"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade my-4" id="bordered-justified-pending" role="tabpanel"
                                aria-labelledby="contact-tab">
                                <table
                                    class="display table table-striped dt-responsive table-responsive-lg table-bordered w-100">
                                    <thead>
                                        <tr>
                                            <th>Product No</th>
                                            <th>Product Name</th>
                                            <th>Product Class</th>
                                            <th>Status</th>
                                            <th>Document Date</th>
                                            <th>Document Stage</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for res in rejected %}
                                        <tr>
                                            <td>{{res.ProductNo}}</td>
                                            <td>{{res.Productname}}</td>
                                            <td>{{res.Veterinary_Classes}}</td>
                                            <td class="text-success">{{res.Status}}</td>
                                            <td>{{res.Document_Date}}</td>
                                            <td>{{res.DocumentStage}}</td>
                                            <td>
                                                <a href="{% url 'productDetails' res.ProductNo %}" type="button"
                                                    class="btn btn-success"> View <i class="bi bi-eye"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'footer.html' %}

{% endblock %}