<section class="mt-4">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert d-flex align-items-center alert-dismissible alert-success" role="alert">
                <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
                <div class="a-icon mx-2">
                    {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert d-flex align-items-center alert-dismissible alert-info" role="alert">
                <i class="las la-exclamation-circle" style="color: white;font-size: 2rem"></i>
                <div class="a-icon mx-2">
                    {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert d-flex align-items-center alert-dismissible alert-danger" role="alert">
                <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
                <div class="a-icon mx-2">
                    {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registration of Immunological Veterinary Product In Kenya
                        {{res.ProductNo}}
                    </h5>
                    <form action="{% url 'vaccineRegistration' res.ProductNo %}" method="POST">
                        {% csrf_token %}
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        Particulars of the Immunological Veterinary Product
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-2">
                                                    <label class="form-label">Product Name <span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" name="prodName" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-2">
                                                    <label class="form-label">Pack Size <span
                                                            class="text-danger">*</span></label>
                                                    <textarea class="form-control" name="packSize" required
                                                        placeholder="200 ml, 500ml" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-2">
                                                    <label class="form-label">Main Indication(s) <span
                                                            class="text-danger">*</span></label>
                                                    <textarea class="form-control" name="mainIndication"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                        Type of Review Requested
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse show"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-2">
                                                    <label class="form-label">Type of Review<span
                                                            class="text-danger">*</span></label>
                                                    <select class="form-select" name="TypeOfReview" id="TypeOfReview">
                                                        <option selected disabled value="">Choose...
                                                        </option>
                                                        <option value="1">Normal</option>
                                                        <option value="2">Accelerated</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="display:none;" id="giveReasonsRow">
                                            <div class="col-md-12">
                                                <div class="mb-2">
                                                    <label class="form-label">Give reasons (Optional)
                                                    </label>
                                                    <textarea class="form-control" name="giveReasons" id="giveReasons"
                                                        disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                        Declaration by applicant
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse show"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-2">
                                                    <input class="form-check-input" type="checkbox" value="True"
                                                        name="iAgree" checked>
                                                    <label class="form-check-label text-primary">
                                                        I hereby apply for registration of
                                                        the product detailed above and
                                                        declare that all the information herein is correct
                                                        and true.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success my-2">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#TypeOfReview').on('change', function () {
            if (this.value == "1") {
                $("#giveReasonsRow").show(1000);
                $('#giveReasons').prop('disabled', false);

            } else if (this.value == "2") {
                $("#giveReasonsRow").show(1000);
                $('#giveReasons').prop('disabled', false);
            } else {
                $("#giveReasonsRow").hide();
                $('#giveReasons').prop('disabled', true);
            }
        });
    })
</script>