@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

:root {
    --first-color: #0974bd;
    --first-color-dark: #0e5a8d;
    --second-color: #2b87cd;
    --font1: 'Open Sans', sans-serif;
    --third-color: #8696b8;
    --green: #12bf68;
    --vmd-grey: #b8bab5;
    --red: #c81718;
    --white-shade: #e0e9f1;
}
.main{
    background: url(../img/bg/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.newsCard{
    background:linear-gradient(to right, #8696b8, #F7F7F7) !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-shadow:2px 2px 20px rgba(0,0,0,0.3);
    border:none;
  }
  .newsCard p{
   font-size: 15px;
   margin-top: -1em;
   color: #222
  }
  .newsCard:hover{
    transform: scale(1.05);
    transition: all 1s ease;
    z-index: 999;
  }
.activityCard {
    background: linear-gradient(to right, #0e5a8d, #c81718) !important;
    height: 420px !important;
}
div.dataTables_filter input {
    border-color: var(--first-color);
    display: none;
}
table{
    font-family: var(--font1);
    font-family: 'Red Hat Display', sans-serif;
}
table  thead {
    background: #8696b8;
    color: #fff;
    height: 3rem;
    font-weight: 700;
}
.updates{
    max-height: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.updates::-webkit-scrollbar{
    width:.6em;
  }
  .updates::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .updates::-webkit-scrollbar-thumb {
    background-color: var(--green);
    outline: 0.8px solid var(--white-shade);
    border-radius: 5px;
  }