@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital@1&family=Nunito+Sans&family=Titillium+Web&display=swap');

:root {
  --first-color: #0974bd;
  --first-color-dark: #0e5a8d;
  --second-color: #2b87cd;
  --font1: 'Nunito Sans', sans-serif;
  --font2: 'Titillium Web', sans-serif;
  --font3: 'Gelasio', serif;
  --third-color: #8696b8;
  --green: #12bf68;
  --vmd-grey: #b8bab5;
  --red: #c81718;
  --white-shade: #e0e9f1;
}
.hover-div {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  background: var(--first-color-dark)
    /* background: none !important; */
}

.hover-div:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 5px 6px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.content-box {
  padding: 32px 8px;
  text-align: center;
  cursor: pointer
}

.content-box h3 {
  font-size: 20px;
  padding-bottom: 8px;
  color: #fff;
  font-weight: 700
}

.content-box i {
  font-size: 80px;
  height: 80px;
  color: #fff;
  margin: 10px 0;
  display: block
}

.box-icon i {
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  margin: 15px 0;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff
}

.box-icon i:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

.box-icon i:before {
  speak: none;
  font-size: 40px;
  line-height: 90px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased
}

.box-icon-effect-1 .box-icon i {
  background: rgba(255, 255, 255, .2);
  color: #fff;
  -webkit-transition: background .2s, color .2s;
  -moz-transition: background .2s, color .2s;
  transition: background .2s, color .2s
}

.box-icon-effect-1 .box-icon i:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #fff;
  -webkit-transition: -webkit-transform .2s, opacity .2s;
  -webkit-transform: scale(.8);
  -moz-transition: -moz-transform .2s, opacity .2s;
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  transition: transform .2s, opacity .2s;
  transform: scale(.8);
  opacity: 0
}

.content-box:hover .box-icon-effect-1a .box-icon i {
  background: #fff;
  color: var(--first-color-dark)
}

.content-box:hover .box-icon-effect-1a .box-icon i:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1
}

.box-icon-effect-2 .box-icon i {
  box-shadow: 0 0 0 4px #fff;
  overflow: hidden;
  -webkit-transition: background .3s, color .3s, box-shadow .3s;
  -moz-transition: background .3s, color .3s, box-shadow .3s;
  transition: background .3s, color .3s, box-shadow .3s;
  color: #fff
}

/* Forms */
.Pharmaceutical h5 {
  color: var(--green);
  font-family: var(--font2);
}

.Pharmaceutical .longText {
  height: 150px;
  overflow: scroll;
}

/* Hide all steps by default: */
.Pharmaceutical .tab {
  display: none;
}


/* Make circles that indicate the steps of the form: */
.Pharmaceutical .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.Pharmaceutical .step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.Pharmaceutical .step.finish {
  background-color: var(--first-color-dark);
}

/* Payment Gateway */
.box-right {
    padding: 30px 25px;
    background-color: white;
    border-radius: 15px
}

.box-left {
    padding: 20px 20px;
    background-color: white;
    border-radius: 15px
}

.textmuted {
    color: #7a7a7a
}

.bg-green {
    background-color: #d4f8f2;
    color: #06e67a;
    padding: 3px 0;
    display: inline;
    border-radius: 25px;
    font-size: 11px
}

.p-blue {
    font-size: 14px;
    color: #1976d2
}

.fas.fa-circle {
    font-size: 12px
}

.p-org {
    font-size: 14px;
    color: #fbc02d
}

.h7 {
    font-size: 15px
}

.h8 {
    font-size: 12px
}

.h9 {
    font-size: 10px
}

.bg-blue {
    background-color: #dfe9fc9c;
    border-radius: 5px
}

.form-control,
.form-select {
    box-shadow: none !important;
    border: 1px solid #28a745;
    color: #3f3f3f;
    font-family: var(--primary-font);
    background-clip: padding-box;
    font-family: var(--font2);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.card input::placeholder {
    font-size: 14px
}

::placeholder {
    font-size: 14px
}

input.card {
    position: relative
}

.far.fa-credit-card {
    position: absolute;
    top: 10px;
    padding: 0 15px
}

.fas,
.far {
    cursor: pointer
}

.cursor {
    cursor: pointer
}

.bg.btn.btn-primary {
    box-shadow: none;
    height: 40px;
    padding: 11px
}

.bg.btn.btn-primary {
    background-color: transparent;
    border: none;
    color: #1976d2
}

.bg.btn.btn-primary:hover {
    color: #539ee9
}

@media(max-width:320px) {
    .h8 {
        font-size: 11px
    }

    .h7 {
        font-size: 13px
    }

    ::placeholder {
        font-size: 10px
    }
}
.money{
  display: inline-block;
  float: right;
}
.money button{
  background: linear-gradient(to right, #8696b8, #12bf68) !important;
}
.btn-gradient {    
  width:auto;
  position: relative;
  display: inline-block;
  left:-20px;
  background: var(--first-color-dark);
  border-top-right-radius: 60px;
  padding: 8px 24px 8px 16px;
  box-shadow: 2px 0px 0px 0px rgba(78, 72, 72, 0.4);
}
.btn-green{
  font-size:20px;
  padding:0px 20px;
  color: #fff;
  background-color: var(--second-color);
  border:none;
  font-family: var(--font1);
  justify-content: center;
  align-items: center;
  display: flex;
  width:auto;
}
.btn-text{
  width:100%;
}
.allForm{
  background: var(--white-shade) !important;
  padding: 10px;
}


