{% extends 'base.html' %}
{% load static %}
{% block base %}

<!--Header-->
{% include 'navbar.html' %}
<!-- End Header -->

<!-- Sidebar-->
{% include 'sidebar.html' %}
<!-- End Sidebar -->

<main id="main" class="">

    <div class="pagetitle">
        <h1>Feed Additives</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Registration' %}">Register</a></li>
                <li class="breadcrumb-item active">Feed Additives</li>
            </ol>
        </nav>
    </div>
    <section class="mt-4">
        <div class="row">
            <div class="col-md-12">
                <form id="regForm" action="" class="Pharmaceutical">

                    <!-- One "tab" for each step in the form: -->
                    <div class="tab">
                        <h1>APPLICATION FOR REGISTRATION OF FEED ADDITIVES</h1>
                        <div class="row my-2 ">
                            <h5>particulars of the Product</h5>
                            <div class="col-md-6">
                                <label class="form-label">Trade Name</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">International Non-proprietary Name of the Active
                                    Ingredients (AI)</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-4">
                                <label class="form-label">Proposed Category</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Strength of Active Ingredient(s)</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                                <div class="form-text">
                                    Per unit dosage
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">CAS Number</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Other Names</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Molecular formula for each active ingredient</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name=""></textarea>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Molecular weight for each active ingredient</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name=""></textarea>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Intended use or indications of the product</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="row my-2">
                            <h5>Dosage forms </h5>
                            <div class="col-md-12">
                                <label class="form-label"> Dosage</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name=""></textarea>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Proposed shelf life, shelf life after opening of
                                    container</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name=""></textarea>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Proposed shelf life, shelf life after reconstitution</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name=""></textarea>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Attach stability data</label>
                                <input type="file" class="form-control" oninput="this.className = ''" name="">
                            </div>
                        </div>

                    </div>
                    <div class="tab">
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Registration Certificate</label>
                                <input type="file" class="form-control" oninput="this.className = ''" name="">
                                <div class="form-text">Attach a registration certificate or authorization to market the
                                    product as nutrient and borderline products in the country of manufacture and in
                                    other countries</div>
                            </div>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Visual description</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name="VisualDescription"></textarea>
                                <div class="form-text">Brief description of the physical characteristics of the product
                                    (color, size, shape and other relevant features)</div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Type of materials for the packaging/container</label>
                                <input type="file" class="form-control" oninput="this.className = ''" name="">
                                <div class="form-text">(Attach specifications of the primary container and artworks for
                                    labelling and or information leaflets)</div>
                            </div>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Type of closure system for package or container</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Packaging unit(s) intended for marketing</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name=""></textarea>
                                <div class="form-text">(Provide 3 samples for every unit)</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="row my-2">
                            <h1>PARTICULARS OF THE APPLICANT</h1>
                            <h5>Should be the Local Technical Representative</h5>
                            <div class="col-md-12">
                                <label class="form-label">Are you an LTR</label>
                                <select class="form-select" oninput="this.className = ''" name="AssignedATCCode"
                                    id="AssignedATCCode">
                                    <option selected disabled value="">Choose...</option>
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-4">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Postal Address</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Country</label>
                                <select class="form-select" oninput="this.className = ''" name="" id="">
                                    <option selected disabled value="">Choose...</option>
                                    <option value="">Kenya</option>
                                    <option value="">Uganda</option>
                                </select>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-4">
                                <label class="form-label">Physical Address</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Telephone number</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Explain Relationship With Manufacturer</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name="LtRRelationship" id="LtRRelationship" disabled></textarea>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Evidence of Relationship With Manufacturer</label>
                                <input type="file" class="form-control" oninput="this.className = ''" name="LtREvidence"
                                    id="LtREvidence" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="row my-2">
                            <h5>Particulars of Manufacturer of Finished Product</h5>
                            <div class="col-md-4">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Postal Address</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Country</label>
                                <select class="form-select" oninput="this.className = ''" name="" id="">
                                    <option selected disabled value="">Choose...</option>
                                    <option value="">Kenya</option>
                                    <option value="">Uganda</option>
                                </select>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-4">
                                <label class="form-label">Physical Address</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Telephone number</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Good Manufacturing Practice (GMP) Status</label>
                                <input type="file" class="form-control" oninput="this.className = ''" name="" id="">
                                <div class="form-text">(Attach certificate)</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="row my-2">
                            <h5>Details of the Procedures Involved in the Various Stages of Manufacture</h5>
                            <div class="col-md-12 my-4">
                                <textarea class="form-control longText" oninput="this.className = ''" name=""
                                    id=""></textarea>
                                <div class="form-text">(A description of the method of production, manufacturing of the
                                    feed additive, the method of analysis of the additive in feed according to its
                                    intended use and, where appropriate, of the method of analysis for the determination
                                    of the level of residues of the feed additive, or its metabolites, in food from
                                    animal origin)</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="row my-2">
                            <h5>Ingredients</h5>
                            <div class="col-md-6">
                                <label class="form-label">Ingredient Name</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Ingredient Proportion</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                                <div class="form-text">(e.g. %, ppm, units)</div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Purpose of Use</label>
                                <textarea class="form-control longText" oninput="this.className = ''" name=""
                                    id=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                        </div>
                    </div>
                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;margin-top:40px;">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<script>
    $(document).ready(function () {
        $('#AssignedATCCode').on('change', function () {
            if (this.value == "True") {
                $('#LtRRelationship').prop('disabled', true);
                $('#LtREvidence').prop('disabled', true);
            } else if (this.value == "False") {
                $('#LtRRelationship').prop('disabled', false);
                $('#LtREvidence').prop('disabled', false);
            }
        });
        $('#Legal1').on('change', function () {
            if (this.value == "True") {
                $('#legal2').prop('disabled', false);
                $('#legal3').prop('disabled', false);
                $('#legal4').prop('disabled', true);
                $('#legal5').prop('disabled', true);
            } else if (this.value == "False") {
                $('#legal4').prop('disabled', false);
                $('#legal5').prop('disabled', false);
                $('#legal2').prop('disabled', true);
                $('#legal3').prop('disabled', true);
            }
        });
        $('#AuthorisationStatus').on('change', function () {
            if (this.value == "1") {
                $('#MarketingCountry').prop('disabled', false);
                $('#DateAuthorisation').prop('disabled', false);
                $('#ProprietaryName').prop('disabled', false);
                $('#AuthorisationNumber').prop('disabled', false);
                $('#CertificateVeterinary').prop('disabled', false);
                $('#AuthorisationReason').prop('disabled', true);
            } else if (this.value == "2") {
                $('#MarketingCountry').prop('disabled', false);
                $('#DateAuthorisation').prop('disabled', false);
                $('#AuthorisationReason').prop('disabled', false);
                $('#CertificateVeterinary').prop('disabled', false);
                $('#ProprietaryName').prop('disabled', true);
                $('#AuthorisationNumber').prop('disabled', true);
            } else if (this.value == "3") {
                $('#MarketingCountry').prop('disabled', false);
                $('#DateAuthorisation').prop('disabled', false);
                $('#AuthorisationReason').prop('disabled', false);
                $('#CertificateVeterinary').prop('disabled', false);
                $('#ProprietaryName').prop('disabled', false);
                $('#AuthorisationNumber').prop('disabled', true);
            } else if (this.value == "4") {
                $('#MarketingCountry').prop('disabled', false);
                $('#DateAuthorisation').prop('disabled', false);
                $('#AuthorisationReason').prop('disabled', false);
                $('#CertificateVeterinary').prop('disabled', false);
                $('#ProprietaryName').prop('disabled', false);
                $('#AuthorisationNumber').prop('disabled', true);
            }

        });
        $('#ManufacturerQuiz').on('change', function () {
            if (this.value == "True") {
                $('#ManufacturerName').prop('disabled', true);
                $('#ManufacturerCompanyName').prop('disabled', true);
                $('#ManufacturerAddress').prop('disabled', true);
                $('#ManufacturerCountry').prop('disabled', true);
                $('#ManufacturerTelephone').prop('disabled', true);
                $('#ManufacturerMobile').prop('disabled', true);
                $('#ManufacturerEmail').prop('disabled', true);
                $('#ManufacturerRelationship').prop('disabled', true);
            } else if (this.value == "False") {
                $('#ManufacturerName').prop('disabled', false);
                $('#ManufacturerCompanyName').prop('disabled', false);
                $('#ManufacturerAddress').prop('disabled', false);
                $('#ManufacturerCountry').prop('disabled', false);
                $('#ManufacturerTelephone').prop('disabled', false);
                $('#ManufacturerMobile').prop('disabled', false);
                $('#ManufacturerEmail').prop('disabled', false);
                $('#ManufacturerRelationship').prop('disabled', false);
            }
        });
        $('#marketQuiz').on('change', function () {
            if (this.value == "True") {
                $('#marketName').prop('disabled', true);
                $('#MarketCompanyName').prop('disabled', true);
                $('#MarketAddress').prop('disabled', true);
                $('#MarketCountry').prop('disabled', true);
                $('#MarketTelephone').prop('disabled', true);
                $('#MarketMobile').prop('disabled', true);
                $('#MarketEmail').prop('disabled', true);
                $('#MarketRelationship').prop('disabled', true);
                $('#MarketEvidence').prop('disabled', true);
            } else if (this.value == "False") {
                $('#marketName').prop('disabled', false);
                $('#MarketCompanyName').prop('disabled', false);
                $('#MarketAddress').prop('disabled', false);
                $('#MarketCountry').prop('disabled', false);
                $('#MarketTelephone').prop('disabled', false);
                $('#MarketMobile').prop('disabled', false);
                $('#MarketEmail').prop('disabled', false);
                $('#MarketRelationship').prop('disabled', false);
                $('#MarketEvidence').prop('disabled', false);
            }
        });
    })
</script>
{% include 'footer.html' %}

{% endblock %}