{% extends 'base.html' %}
{% load static %}
{% block base %}

<!--Header-->
{% include 'navbar.html' %}
<!-- End Header -->
<!-- Sidebar-->
{% include 'sidebar.html' %}
<!-- End Sidebar -->
<main id="main" class="main">
    <section class="section contact">
        <div class="card mt-2">
            <div class="card-body">
                <div class="pagetitle my-3">
                    <h1>Premise Permit For Veterinary Pharmacy</h1>
                </div>
                <h5 class="card-title">My Applications</h5>
                <div class="loader mx-auto text-center" id="spinner" style="display: none;">
                    <div class="loader__bar"></div>
                    <div class="loader__bar"></div>
                    <div class="loader__bar"></div>
                    <div class="loader__bar"></div>
                    <div class="loader__bar"></div>
                    <div class="loader__ball"></div>
                </div>
                <!-- Bordered Tabs Justified -->
                <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home"
                            aria-selected="true">New
                            (<span class="open_count">
                                {{0}}
                            </span>)
                        </button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab"
                            data-bs-target="#bordered-justified-profile" type="button" role="tab"
                            aria-controls="profile" aria-selected="false"> Pending Approval
                            (<span class="pending_count">
                                {{0}}
                            </span>)
                        </button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab"
                            data-bs-target="#bordered-justified-contact" type="button" role="tab"
                            aria-controls="contact" aria-selected="false">Approved
                            (<span class="approved_count">
                                {{0}}
                            </span>)
                        </button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="pending-tab" data-bs-toggle="tab"
                            data-bs-target="#bordered-justified-pending" type="button" role="tab"
                            aria-controls="contact" aria-selected="false">Rejected
                            (<span class="rejected_count">
                                {{0}}
                            </span>)
                        </button>
                    </li>
                </ul>
                <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                    <div class="tab-pane fade show active my-4" id="bordered-justified-home" role="tabpanel"
                        aria-labelledby="home-tab">
                        <table id="open_table"
                            class="table table-striped dt-responsive table-responsive-lg table-bordered datatable w-100">
                            <thead>
                                <tr>
                                    <th>Premise No</th>
                                    <th>Premise Name</th>
                                    <th>Amount Payable</th>
                                    <th>Paid</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade my-4" id="bordered-justified-profile" role="tabpanel"
                        aria-labelledby="profile-tab">
                        <table id="pending_table"
                            class="table w-100 table-striped dt-responsive table-responsive-lg table-bordered datatable w-100">
                            <thead>
                                <tr>
                                    <th>Premise No</th>
                                    <th>Premise Name</th>
                                    <th>Amount Payable</th>
                                    <th>Paid</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade my-4" id="bordered-justified-contact" role="tabpanel"
                        aria-labelledby="contact-tab">
                        <table id="approved_table"
                            class="table table-striped w-100 dt-responsive table-responsive-lg table-bordered datatable w-100">
                            <thead>
                                <tr>
                                    <th>Premise No</th>
                                    <th>Premise Name</th>
                                    <th>Amount Payable</th>
                                    <th>Paid</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade my-4" id="bordered-justified-pending" role="tabpanel"
                        aria-labelledby="contact-tab">
                        <table id="rejected_table"
                            class="table table-striped dt-responsive w-100 table-responsive-lg table-bordered datatable w-100">
                            <thead>
                                <tr>
                                    <th>Premise No</th>
                                    <th>Premise Name</th>
                                    <th>Amount Payable</th>
                                    <th>Paid</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'alert.html' %}
                <form id="regForm" class="bg-white p-4" method="post">
                    {% csrf_token %}
                    <h5 class="card-title">New Application</h5>
                    <input type="hidden" name="vetPharmacyNo" id="vetPharmacyNo" value="">
                    <input type="hidden" name="myAction" id="myAction" value="insert">
                    <div class="border border-success rounded p-3 my-3">
                        <p class="text-small text-info">Veterinary Pharmacy Information</p>
                        <div class="row my-2 gx-2">
                            <div class="col-md-8">
                                <label class="form-label">Premise Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="premiseName" id="premiseName">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Town <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="town" id="town" required>
                            </div>
                        </div>
                        <div class="row my-3 gx-2">
                            <div class="col-md-4">
                                <label class="form-label">Road <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="road" id="road" required>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Building <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="building" id="building" required>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Plot No</label>
                                <input type="text" class="form-control" name="plotNo" id="plotNo">
                            </div>
                        </div>
                    </div>

                    <div class="border border-success rounded p-3 my-3">
                        <p class="text-small text-info">Applicant's' Information</p>
                        <div class="row my-3 gx-1">
                            <div class="col-md-8">
                                <label class="form-label">Applicant Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="applicantName" id="applicantName">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">First Time Application <span
                                        class="text-danger">*</span></label>
                                <select class="form-select" aria-label="Default select example"
                                    name="firstTimeApplication" id="firstTimeApplication">
                                    <option value="0">--select--</option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row my-2" style="display: none;" id="inspectionNoRow">
                            <div class="col-md-12">
                                <label class="form-label">Previous Inspection <span class="text-danger">*</span></label>
                                <select class="form-select" aria-label="Default select example" name="inspectionNo"
                                    id="inspectionNo" disabled>
                                    <option value="0">--select--</option>
                                    {% for inspection in Approved_Inspection %}
                                    <option value="{{inspection.PremiseInpectionNo}}">
                                        {{inspection.PremiseInpectionNo}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <input class="form-check-input" type="checkbox" value="True" name="iAgree"
                                        id="iAgree" checked>
                                    <label class="form-check-label text-primary">
                                        I hereby apply for registration of
                                        the product detailed above and
                                        declare that all the information herein is correct
                                        and true.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn button-87 my-3 w-100">Submit</button>
                </form>
            </div>
        </div>
    </section>
</main>

{% include 'footer.html' %}
<script>
    const $headerForm = $('#regForm');
    const $spinner = $('#spinner');

    $(document).ready(function () {

        $('#firstTimeApplication').on('change', function () {
            if (this.value == '2') {
                $('#inspectionNoRow').show(700);
                $('#inspectionNo').prop('disabled', false);
            } else {
                $('#inspectionNoRow').hide(300);
                $('#inspectionNo').prop('disabled', true);
            }
        });

        Header_Data();

        function Header_Data() {
            $.ajax({
                url: '/pharmacy/',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var openTableBody = $('#open_table tbody');
                    var pendingTableBody = $('#pending_table tbody');
                    var approvedTableBody = $('#approved_table tbody');
                    var rejectedTableBody = $('#rejected_table tbody');
                    openTableBody.empty();
                    pendingTableBody.empty();
                    approvedTableBody.empty();
                    rejectedTableBody.empty();

                    for (var i = 0; i < data.length; i++) {
                        var vetPharmacyNo = data[i].VeterinaryPharmacyNo;
                        var Status = data[i].Status;
                        var Premise_Name = data[i].PremiseName;
                        var Currency = data[i].Currency;
                        var AmountPayable = data[i].AmountPayable;
                        var Paid = data[i].Paid;

                        var row = $('<tr>');
                        row.append($('<td>').text(vetPharmacyNo));
                        row.append($('<td>').text(Premise_Name));
                        row.append($('<td>').text(Currency + " " + AmountPayable));
                        row.append($('<td>').text(Paid ? "Yes" : "No"));
                        row.append($('<td>').text(Status));

                        // create a link button
                        var viewBtn = $('<a>').attr({
                            href: "/pharmacy/" + vetPharmacyNo + "/",
                            class: "btn btn-success btn-icon-text",
                            type: "button",
                            "data-toggle": "tooltip",
                            "data-placement": "top",
                            title: "Click to View"
                        }).text("details");


                        // append the link button to the last <td> element
                        row.append($('<td>').append(viewBtn));

                        // add the row to the appropriate table based on its status
                        if (Status === 'Open') {
                            openTableBody.append(row);
                        } else if (Status === 'Processing') {
                            pendingTableBody.append(row);
                        } else if (Status === 'Approved') {
                            approvedTableBody.append(row);
                        } else if (Status === 'Rejected') {
                            rejectedTableBody.append(row);
                        }
                    }
                    // initialize DataTables for each table
                    if (!$.fn.DataTable.isDataTable('#open_table')) {
                        $('#open_table').DataTable({
                            "pageLength": 5,
                            "order": [
                                [0, "desc"]
                            ]
                        });
                    }
                    if (!$.fn.DataTable.isDataTable('#pending_table')) {
                        $('#pending_table').DataTable({
                            "pageLength": 5,
                            "order": [
                                [0, "desc"]
                            ]
                        });
                    }
                    if (!$.fn.DataTable.isDataTable('#approved_table')) {
                        $('#approved_table').DataTable({
                            "pageLength": 5,
                            "order": [
                                [0, "desc"]
                            ]
                        });
                    }
                    if (!$.fn.DataTable.isDataTable('#rejected_table')) {
                        $('#rejected_table').DataTable({
                            "pageLength": 5,
                            "order": [
                                [0, "desc"]
                            ]
                        });
                    }
                    // update the table counts using DataTables API
                    $('.open_count').empty().append($('#open_table').DataTable().page
                        .info().recordsDisplay);
                    $('.pending_count').empty().append($('#pending_table').DataTable()
                        .page.info().recordsDisplay);
                    $('.approved_count').empty().append($('#approved_table').DataTable()
                        .page.info().recordsDisplay);
                    $('.rejected_count').empty().append($('#rejected_table').DataTable()
                        .page.info().recordsDisplay);

                },
                error: function (xhr, status, error) {
                    console.log("Error:", error);
                },
            });
        }

        $headerForm.on('submit', (e) => {
            e.preventDefault();

            if ($('#premiseName').val() === '' || $(
                    '#town').val() ===
                '' || $('#road').val() === '' || $('#building').val() ===
                '' || $(
                    '#plotNo')
                .val() === '' || $('#firstTimeApplication').val() === '' || $('#applicantName')
                .val() ===
                '') {
                alert('Please fill in all required fields.');
                return false;
            }

            $spinner.show(400);
            document.getElementById('main').classList.add('loads');
            $headerForm.hide();
            $.ajax({
                type: 'POST',
                url: '/pharmacy/',
                data: {
                    vetPharmacyNo: $("#vetPharmacyNo").val(),
                    premiseName: $('#premiseName').val(),
                    town: $('#town').val(),
                    road: $('#road').val(),
                    building: $('#building').val(),
                    applicantName: $('#applicantName').val(),
                    plotNo: $('#plotNo').val(),
                    firstTimeApplication: $('#firstTimeApplication').val(),
                    inspectionNo: $('#inspectionNo').val(),
                    iAgree: $('#iAgree').val(),
                    myAction: $("#myAction").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (response) {
                    Header_Data();
                    if (response['response']) {
                        window.location.href = "/pharmacy/" + response['response'] + "/";
                        iziToast.show({
                            theme: 'dark',
                            backgroundColor: '#239B56',
                            icon: 'las la-check-circle',
                            title: 'Yeah',
                            message: response['response'] +
                                " " +
                                "created successfully",
                            position: 'topRight',
                            progressBarColor: '#F4F6F7',
                        });
                        $headerForm.show();
                        $('#premiseName').val('');
                        $('#town,#firstTimeApplication').val('');
                        $('#road, #building, #proposedCategory').val('');
                        $('#applicantName, #plotNo').val('');
                    } else if (response['error']) {
                        iziToast.show({
                            theme: 'dark',
                            icon: 'las la-exclamation',
                            title: 'Error',
                            message: response['error'],
                            position: 'topRight',
                            progressBarColor: '#ff0800',
                        });
                        $headerForm.show();
                        document.getElementById('main').classList.remove('loads');
                    }
                    $spinner.hide(1000);
                    document.getElementById('main').classList.remove('loads');
                },
                error: function (error) {
                    console.log(error)
                    $headerForm.show();
                    $spinner.hide();
                    document.getElementById('main').classList.remove('loads');

                }
            });
        });
    })
</script>
{% endblock %}