{% extends 'base.html' %}
{% load static %}
{% block base %}


<!--Header-->
{% include 'navbar.html' %}
<!-- End Header -->

<!-- Sidebar-->
{% include 'sidebar.html' %}
<!-- End Sidebar -->
<style>
    .file-man-box {
        padding: 10px;
        border: 1px solid #e3eaef;
        border-radius: 5px;
        position: relative;
        margin-bottom: 20px;
    }

    .file-man-box .file-close {
        color: #f1556c;
        position: absolute;
        line-height: 24px;
        font-size: 24px;
        right: 10px;
        top: 10px;
        visibility: hidden
    }

    .file-man-box .file-img-box {
        line-height: 120px;
        text-align: center
    }

    .file-man-box .file-img-box img {
        height: 64px
    }

    .deleteBtn {
        background: none;
        outline: none;
        border: none;
    }

    .file-man-box .file-download {
        font-size: 30px;
        color: #98a6ad;
        position: absolute;
        bottom: 5px;
        right: 1px;
        background: none;
        border: none;
    }

    .file-man-box .file-download:hover {
        color: #313a46
    }

    .file-man-box .file-man-title {
        padding-right: 15px
    }

    .file-man-box:hover {
        -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02);
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, .06), 0 1px 0 0 rgba(0, 0, 0, .02)
    }

    .file-man-box:hover .file-close {
        visibility: visible
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<main id="main" class="main">
    <section class="section dashboard mt-4">
        <div class="row">
            <div class="col-md-12">
                {% include 'alert.html' %}
            </div>
        </div>

        <div class="row g-2 my-1">
            <div class="col-md-3">
                <div class="card h-100 info-card revenue-card">
                    <div class="card-body">
                        <h5 class="card-title">Payment<span> | {{res.Currency_Code}}</span></h5>

                        <div class="d-flex align-items-center">
                            <!-- <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-currency-dollar"></i>
                            </div> -->
                            <div class="ps-3">
                                <h6> {{res.Currecy_Code}} {{res.Amount_Payable}}</h6>
                                <span class="text-muted small pt-2 ps-1">Paid:</span>
                                <span class="text-success small pt-1 fw-bold">{{res.Paid}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-cherry h-100 sales-card">
                    <div class="card-body">
                        <h5 class="card-title text-white">Document Stage<span> | Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrow-left-right"></i>
                            </div>
                            <div class="ps-3">
                                <h6> {{res.GMP_Stage}} </h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card Startcard l-bg-blue-dark h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Application Status</h5>
                        </div>
                        <div class="row align-items-center d-flex">
                            <div class="col-8">
                                <h4 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h4>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            {% if res.Status == 'Open' %}
                            <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                            </div>
                            {% elif res.Status == 'Processing' %}
                            <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            </div>
                            {% elif res.Status == ' Approved' %}
                            <div class="progress-bar bg-success" role="progressbar" data-width="25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                            {% elif res.Status == 'Rejected' %}
                            <div class="progress-bar bg-danger" role="progressbar" data-width="25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if res.Paid == True and status == 'Open' %}
            <div class="col-md-3">
                <div class="card h-100 actionActive actionCard  text-center">
                    <i class="bi bi-wallet my-3"></i>
                    <form action="{% url 'SubmitGMP' res.GMP_No_ %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">
                            Submit Application
                        </button>
                    </form>
                </div>
            </div>
            {% elif res.Paid == False and status == 'Open'  and res.Invoiced == False %}
            <div class="col-md-3">
                <div class="card h-100 actionActive actionCard  text-center">
                    <i class="bi bi-wallet my-3"></i>
                    <form action="{% url 'FnMakeGMPpayment' res.GMP_No_ %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">
                            Pay {{res.Currency_Code}} {{res.Amount_Payable}}
                        </button>
                    </form>
                </div>
            </div>
            {% elif res.Paid == False and status == 'Open'  and res.Invoiced == True %}
            <div class="col-md-3">
                <a href="{% url 'GMPGateway' res.GMP_No_ %}">
                    <div class="card h-100 actionActive actionCard  text-center">
                        <i class="bi bi-wallet my-3"></i>
                        Pay {{res.Currency_Code}} {{res.Amount_Payable}}
                    </div>
                </a>
            </div>
            {% elif res.Paid == False and status == ' Approved' %}
            <div class="col-md-3">
                <div class="card h-100 actionCard text-center">
                    <i class="bi bi-file-earmark-bar-graph my-3"></i>
                    <form action="{% url 'PrintGMPCertificate' res.GMP_No_ %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-success align-items-center" type="submit"> Generate
                            Certificate</button>
                    </form>
                    <!-- <h6>Download Certificate</h6> -->
                </div>
            </div>
            {% elif res.Paid == True and status == ' Approved' %}
            <div class="col-md-3">
                <div class="card h-100 actionCard text-center">
                    <i class="bi bi-file-earmark-bar-graph my-3"></i>
                    <form action="{% url 'PrintGMPCertificate' res.GMP_No_ %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-success align-items-center" type="submit"> Generate
                            Certificate</button>
                    </form>
                    <!-- <h6>Download Certificate</h6> -->
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row my-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="border: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="card-title" style="display:inline-block;float:right ;">Manufactures
                                    Particulars</h5>
                                {% if status == 'Open' %}
                                <div class="inline mt-2" style="display:inline-block;">
                                    <button type="button" class="btn text-danger" data-bs-toggle="modal"
                                        data-bs-target="#createParticulars"><i class="bi bi-plus-circle"></i>
                                        Add New</button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <table
                            class="display table  table-striped dt-responsive w-100 table-responsive-lg table-bordered datatable">
                            <thead>
                                <tr>
                                    <th scope="col">Manufacturer Type</th>
                                    <th scope="col">Manufacturer Name</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Telephone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Postal Address</th>
                                    <th scope="col">Activity</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in manufacturer %}
                                <tr>
                                    <td>{{res.Type_of_Manufacture}}</td>
                                    <td>{{res.Manufacture_Name_}}</td>
                                    <td>{{res.Manufacturing_Physical_address}}</a></td>
                                    <td>{{res.Country}}</a></td>
                                    <td>{{res.Mobile}}</a></td>
                                    <td>{{res.Manufacture_Email}}</a></td>
                                    <td>{{res.Manufacture_Postal_Address}}</a></td>
                                    <td>{{res.Activity}}</td>
                                    <td>
                                        <form method="POST" action="{% url 'GMPManufactures' res.No %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="gmpMd" value="{{res.GMP_Line_No_}}">
                                            <input type="hidden" name="TypeOfManufacturer" value="0">
                                            <input type="hidden" name="manufacturerName" value="0">
                                            <input type="hidden" name="plantAddress" value="0">
                                            <input type="hidden" name="country" value="0">
                                            <input type="hidden" name="ManufacturerTelephone" value="0">
                                            <input type="hidden" name="ManufacturerEmail" value="none@gmail.com">
                                            <input type="hidden" name="postalAddress" value="0">
                                            <input type="hidden" name="activity" value="0">
                                            <input type="hidden" name="myAction" value="delete">
                                            <button type="submit" class="deleteBtn"><i
                                                    class="fas fa-trash-alt text-danger"></i></button>
                                        </form>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3 gx-2">
            <div class="col-md-12">
                <div class="card h-100">
                    <div class="card-header" style="border: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="card-title" style="display:inline-block;float:right ;">Lines to be inspected
                                </h5>
                                {% if status == 'Open' %}
                                <div class="inline mt-2" style="display:inline-block;">
                                    <button type="button" class="btn text-danger" data-bs-toggle="modal"
                                        data-bs-target="#activeIngredients"><i class="bi bi-plus-circle"></i>
                                        Add New</button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table
                            class="display table  table-striped dt-responsive table-responsive-lg table-bordered datatable w-100">
                            <thead>
                                <tr>
                                    <th scope="col">Dosage Form</th>
                                    <th>Other Dosage Form</th>
                                    <th scope="col">Activity</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in line %}
                                <tr>
                                    <td>{{res.Dosage_Form}}</td>
                                    <td>{{res.Dosage_Form}}</td>
                                    <td>{{res.Activity}}</td>
                                    <td>
                                        <form method="POST" action="{% url 'linesToInspect' res.No %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="lineNo" value="{{res.AuxiliaryIndex1}}">
                                            <input type="hidden" name="myAction" value="delete">
                                            <input type="hidden" name="DosageForm" value="0">
                                            <input type="hidden" name="Activity" value="0">
                                            <button type="submit" class="deleteBtn"><i
                                                    class="fas fa-trash-alt text-danger"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title p-3">
                        <span class="text-primary">My Attachments</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for data in files %}
                            <div class="col-md-3">
                                <div class="file-man-box" id="fileMan">
                                    <form action="{% url 'FnDeleteGMPDocumentAttachment' res.GMP_No_ %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="docID" value="{{data.AuxiliaryIndex2}}">
                                        <input type="hidden" name="tableID" value="{{data.Table_ID}}">
                                        <button class="file-close" id="file-close"><i
                                                class="fa fa-times-circle"></i></button>
                                    </form>
                                    <div class="file-img-box"><img
                                            src="https://coderthemes.com/highdmin/layouts/assets/images/file_icons/pdf.svg"
                                            alt="icon"></div>
                                    <div class="file-man-title">
                                        <h5 class="mb-0 text-overflow">{{data.File_Name}}.{{data.File_Extension}}</h5>
                                        <span class="document-description"> Date Attached:
                                            {{data.Attached_Date}} </span>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <span class="small text-danger">You have not attached any documents</span>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-success w-100" data-bs-toggle="modal"
                            data-bs-target="#GMPAttachements">Upload Attachment</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Create Manufacturer particulars -->
<div class="modal fade" id="createParticulars" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Particulars of the Manufacturer and Activity</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'GMPManufactures' res.GMP_No_ %}">
                    {% csrf_token %}
                    <input type="hidden" name="gmpMd" value="">
                    <input type="hidden" name="myAction" value="insert">
                    <div class="row my-2">
                        <div class="col-md-12">
                            <label class="form-label">Type of Manufacturer <span class="text-danger">*</span></label>
                            <select class="form-select" name="TypeOfManufacturer" id="TypeOfManufacturer"
                                aria-label="Default select example" required>
                                <option selected>Choose .. </option>
                                <option value="1">Manufacturer of finished product</option>
                                <option value="2">Company releasing product </option>
                                <option value="3">Manufacturer of active ingredient</option>
                                <option value="4">Manufacturer of inactive ingredient</option>
                                <option value="5">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-2" id="manufacturerOtherRow" style="display: none;">
                        <div class="col-md-12">
                            <label class="form-label">Other Type of Manufacturer</label>
                            <input type="text" class="form-control" name="manufacturerOther" id="manufacturerOther"
                                disabled>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label class="form-label">Manufacturer Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="manufacturerName" id="manufacturerName"
                                required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Plant Address<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="plantAddress" required>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label class="form-label">Manufacturer Country <span class="text-danger">*</span></label>
                            <select class="form-select" aria-label="Default select example" name="country">
                                <option selected value="" disabled>Select Country</option>
                                {% for res in country %}
                                <option value="{{res.Name}}">{{res.Name}}</option>

                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Manufacturer Telephone<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="ManufacturerTelephone" required>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label class="form-label">Manufacturer Email <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="ManufacturerEmail" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Manufacturer Postal Address<span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="postalAddress" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Activity</label>
                        <select class="form-select" name="activity">
                            <option selected>Choose...</option>
                            <option value="1">Formulation (dispensing, mixing, blending) </option>
                            <option value="2">Processing(compression, emulsification etc)</option>
                            <option value="3">Packaging</option>
                            <option value="4">Quality Control</option>
                            <option value="5">Warehousing (raw material, finished products)</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success my-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Create Ingredients -->
<div class="modal fade" id="activeIngredients" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Lines to be inspected</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'linesToInspect' res.GMP_No_ %}">
                    {% csrf_token %}
                    <input type="hidden" name="lineNo" value="">
                    <input type="hidden" name="myAction" value="insert">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Dosage Form <span class="text-danger">*</span></label>
                                <select class="form-select" name="DosageForm" id="DosageForm"
                                    aria-label="Default select example" required>
                                    <option selected>Choose .. </option>
                                    <option value="1">Tablets</option>
                                    <option value="2">Capsules</option>
                                    <option value="3">Injections</option>
                                    <option value="4">Oral liquids</option>
                                    <option value="5">Creams/ointments/lotions</option>
                                    <option value="6">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="otherDosageRow" style="display:none;">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <label class="form-label">Other Dosage Form</label>
                                <input type="text" class="form-control" name="otherDosage" id="otherDosage" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Activity</label>
                        <select class="form-select" name="Activity">
                            <option selected>Choose...</option>
                            <option value="1">Formulation (dispensing, mixing, blending) </option>
                            <option value="2">Processing(compression, emulsification etc)</option>
                            <option value="3">Packaging</option>
                            <option value="4">Quality Control</option>
                            <option value="5">Warehousing (raw material, finished products)</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success my-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="GMPAttachements" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Upload Attachments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'GMPAttachement' res.GMP_No_ %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Document Name</label>
                        <select class="form-select" aria-label="Default select example" name="name"
                            id="attachment-name">
                            <option selected disabled value="">Choose...</option>
                            {% for attach in attach %}
                            <option value="{{attach.code}}" id="name-list">{{attach.Description}}</option>
                            {% endfor %}
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Attachment</label>
                        <input type="file" class="form-control" accept=".doc,.docx,.pdf" name="attachment">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#DosageForm').on('change', function () {
            if (this.value == "6") {
                $('#otherDosageRow').show(1000);
                $('#otherDosage').prop('disabled', false);

            } else {
                $('#otherDosageRow').hide(1000);
                $('#otherDosage').prop('disabled', true);
            }

        });
    })
</script>
{% include 'footer.html' %}

{% endblock %}