{% extends 'base.html' %}
{% load static %}
{% block base %}


<!--Header-->
{% include 'navbar.html' %}
<!-- End Header -->

<!-- Sidebar-->
{% include 'sidebar.html' %}
<!-- End Sidebar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<main id="main" class="main">
    <section class="section dashboard mt-4">
        <div class="row">
            <div class="col-md-12">
                {% include 'alert.html' %}
            </div>
        </div>

        <div class="row g-2 my-1">
            <div class="col-md-3">
                <div class="card h-100 info-card revenue-card">
                    <div class="card-body">
                        <h5 class="card-title">Payment<span> | {{res.Currency_Code}}</span></h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-currency-dollar"></i>
                            </div>
                            <div class="ps-3">
                                <h6>$ {{res.Amount_Payable}}</h6>
                                <span class="text-muted small pt-2 ps-1">Paid:</span>
                                <span class="text-success small pt-1 fw-bold">{{res.Paid}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-cherry h-100 sales-card">
                    <div class="card-body">
                        <h5 class="card-title text-white">Document Stage<span> | Today</span></h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-arrow-left-right"></i>
                            </div>
                            <div class="ps-3">
                                <h6>{{res.DocumentStage}} </h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100 actionCard text-center">
                    <i class="bi bi-file-earmark-bar-graph my-3"></i>
                    <h6>Download Certificate</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100 actionActive actionCard  text-center">
                    <i class="bi bi-wallet my-3"></i>
                    <form action="{% url 'retentionPayment' res.Retension_No_ res.ProductNo %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">
                            Pay $ {{res.Amount_Payable}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row g-2 my-1">
            <div class="col-md-12">
                <div class="card Startcard l-bg-blue-dark h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Application Status</h5>
                        </div>
                        <div class="row align-items-center d-flex">
                            <div class="col-8">
                                <h4 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h4>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row my-3 gx-2">
            <div class="col-md-12">
                <div class="card h-100">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label class="form-label">ProductNo</label>
                                <input type="text" class="form-control" placeholder="{{res.ProductNo}}" readonly>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label class="form-label">Retension No </label>
                                <input type="text" class="form-control" placeholder="{{res.Retension_No_}}" readonly>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label class="form-label">Product Name </label>
                                <input type="text" class="form-control" placeholder="{{res.Product_name}}" readonly>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label class="form-label">Business Registration No.</label>
                                <input type="text" class="form-control" placeholder="{{res.Business_Registration_No_}}"
                                    readonly>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label class="form-label">Status</label>
                                <input type="text" class="form-control" placeholder="{{res.Status}}" readonly>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label class="form-label">Document Date</label>
                                <input type="text" class="form-control" placeholder="{{res.Document_Date}}" readonly>
                            </div>

                            <div class="col-md-6 mb-2">
                                <label class="form-label">Type of Review</label>
                                <input type="text" class="form-control" placeholder="{{res.Type_of_Review}}" readonly>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label class="form-label">Paid</label>
                                <input type="text" class="form-control" placeholder="{{res.Paid}}" readonly>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label class="form-label">Amount Payable</label>
                                <input type="text" class="form-control"
                                    placeholder="{{res.Currency_Code}} {{res.Amount_Payable}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% include 'footer.html' %}

{% endblock %}