<section class="mt-4">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert d-flex align-items-center alert-dismissible alert-success" role="alert">
                <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
                <div class="a-icon mx-2">
                    {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert d-flex align-items-center alert-dismissible alert-info" role="alert">
                <i class="las la-exclamation-circle" style="color: white;font-size: 2rem"></i>
                <div class="a-icon mx-2">
                    {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert d-flex align-items-center alert-dismissible alert-danger" role="alert">
                <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
                <div class="a-icon mx-2">
                    {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registration of {{res.Veterinary_Classes}}
                        {{res.ProductNo}}
                    </h5>
                    <form action="{% url 'biocidalRegistration' res.ProductNo %}" method="POST">
                        {% csrf_token %}
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        Particulars of the Product
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="row my-2">
                                            <div class="col-md-6">
                                                <label class="form-label">Common Name <span
                                                        class="text-danger">*</span></label>
                                                <input type="text" class="form-control" name="prodName" required>
                                                <div class="form-text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Other Names</label>
                                                <input type="text" class="form-control" name="otherNames">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-2">
                                                    <label class="form-label">Chemical Name<span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" name="chemicalName">
                                                    <div class="form-text">
                                                        (IUPAC and CA nomenclature or other international chemical
                                                        name(s))
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-2">
                                                    <label class="form-label">CAS Number<span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" name="casNumber">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row my-2">
                                            <div class="col-md-12">
                                                <label class="form-label">Intended use or indications of the
                                                    product</label>
                                                <textarea class="form-control longText" name="intendedUse"></textarea>
                                            </div>
                                        </div>
                                        <div class="row my-2">
                                            <div class="col-md-12">
                                                <label class="form-label">Instructions for use</label>
                                                <textarea class="form-control longText" name="instructions"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-2">
                                                    <label class="form-label">Visual Description <span
                                                            class="text-danger">*</span></label>
                                                    <textarea class="form-control" name="visualDescription"
                                                        rows="3"></textarea>
                                                    <div class="form-text">Brief description of the physical
                                                        characteristics of the product
                                                        (color, size, shape and other relevant features)</div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="dropdown-divider">
                                        <div class="row my-2">
                                            <h5>Proposed shelf life (in months)</h5>
                                            <div class="col-md-6">
                                                <label class="form-label">Proposed shelf life </label>
                                                <input type="number" class="form-control" name="proposedShelfLife">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Proposed shelf life (after first opening
                                                    container)</label>
                                                <input type="number" class="form-control"
                                                    name="shelfLifeAfterFirstOpening">
                                            </div>
                                        </div>
                                        <div class="row my-2">
                                            <div class="col-md-12">
                                                <label class="form-label">Proposed shelf life, shelf life after
                                                    reconstitution</label>
                                                <input type="text" class="form-control" name="ShelfLifeAfterDilution">
                                            </div>
                                        </div>
                                        <hr class="dropdown-divider">
                                        <div class="row my-2">
                                            <div class="col-md-6">
                                                <label class="form-label">Type of materials for the
                                                    packaging/container</label>
                                                <input type="text" class="form-control" name="packagingMaterial">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Type of closure system for package or
                                                    container</label>
                                                <input type="text" class="form-control" name="closureSystem">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-2">
                                                    <label class="form-label">Packaging unit(s)<span
                                                            class="text-danger">*</span></label>
                                                    <textarea class="form-control" name="packSize" required
                                                        placeholder="200 ml, 500ml" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="dropdown-divider">
                                        <div class="row my-2">
                                            <div class="col-md-12">
                                                <div class="mb-2">
                                                    <input class="form-check-input" type="checkbox" value="True"
                                                        name="iAgree" checked>
                                                    <label class="form-check-label text-primary">
                                                        I hereby apply for registration of
                                                        the product detailed above and
                                                        declare that all the information herein is correct
                                                        and true.
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success my-2">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>