{% extends 'base.html' %}
{% load static %}
{% block base %}

<!--Header-->
{% include 'navbar.html' %}
<!-- End Header -->

<!-- Sidebar-->
{% include 'sidebar.html' %}
<!-- End Sidebar -->

<main id="main" class="">

    <div class="pagetitle">
        <h1>Biocidal Products</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Registration' %}">Register</a></li>
                <li class="breadcrumb-item active">Biocidal Products</li>
            </ol>
        </nav>
    </div>
    <section class="mt-4">
        <div class="row">
            <div class="col-md-12">
                <form id="regForm" action="" class="Pharmaceutical">
                    <!-- One "tab" for each step in the form: -->
                    <div class="tab">
                        <h1>APPLICATION FOR REGISTRATION OF BIOCIDAL PRODUCTS</h1>
                        <div class="row my-2 ">
                            <h5>Particulars of the Product</h5>
                            <div class="col-md-4">
                                <label class="form-label">Usual Name</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                                <div class="form-text">
                                    Common name proposed or accepted by ISO and synonyms.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Trade Name</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Abbreviation</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-6">
                                <label class="form-label">Other Names</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Chemical Name </label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                                <div class="form-text">
                                    (IUPAC and CA nomenclature or other international chemical name(s))
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-6">
                                <label class="form-label">CAS Number</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Strength of Active Ingredients (AI)</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                                <div class="form-text">
                                    (Per unit dosage)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Molecular and structural formula</label>
                                <textarea class="form-control" oninput="this.className = ''"
                                    name="StrengthofActiveIngredient" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Molecular weight for each active ingredient</label>
                                <textarea class="form-control" oninput="this.className = ''"
                                    name="StrengthofActiveIngredient" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Specification of purity of the active substance</label>
                                <textarea class="form-control" oninput="this.className = ''"
                                    name="StrengthofActiveIngredient" rows="3"></textarea>
                                <div class="form-text">as manufactured in g/kg, g/l or %w/w (v/v) as appropriate,
                                    providing inclusively the upper and lower limit</div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Intended use or indications of the product</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name=""></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="tab">
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Instructions for Use</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name=""></textarea>
                            </div>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="row my-2">
                            <h5>Proposed shelf life (in months)</h5>
                            <div class="col-md-6">
                                <label class="form-label">Proposed shelf life (after reconstitution or dilution)</label>
                                <input type="number" class="form-control" oninput="this.className = ''"
                                    name="shelfLife1">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Proposed shelf life (after first opening container)</label>
                                <input type="number" class="form-control" oninput="this.className = ''"
                                    name="shelfLife2">
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Attach stability data</label>
                                <input type="file" class="form-control" oninput="this.className = ''" name="">
                            </div>
                        </div>
                        <hr class="dropdown-divider">

                    </div>
                    <div class="tab">
                        <div class="row my-2">
                            <h5>Marketing Authorisation in the country of origin and other countries</h5>
                            <div class="col-md-6">
                                <label class="form-label">Country</label>
                                <select class="form-select" oninput="this.className = ''" name="" id="">
                                    <option selected disabled value="">Choose...</option>
                                    <option value="">Kenya</option>
                                    <option value="">Uganda</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Attach a registration certificate</label>
                                <input type="file" class="form-control" oninput="this.className = ''" name="">
                                <div class="form-text">(Attach a registration certificate or authorization to market the
                                    product as nutrient and borderline products in the country of manufacture and in
                                    other countries)</div>
                            </div>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Visual description</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name="VisualDescription"></textarea>
                                <div class="form-text">(color, size, shape and other relevant features)</div>
                            </div>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="row my-2">
                            <div class="col-md-6">
                                <label class="form-label">Type of materials for the packaging/container</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Attach specifications</label>
                                <input type="file" class="form-control" oninput="this.className = ''" name="">
                                <div class="form-text">
                                    (Attach specifications of the primary container and artworks for labelling and or
                                    information leaflets)
                                </div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-4">
                                <label class="form-label">Type of closure system for package</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Pack sizes intended for marketing</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Attach Samples</label>
                                <input type="file" class="form-control" oninput="this.className = ''" name="">
                                <div class="form-text">
                                    (Provide 3 samples for every unit)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="row my-2">
                            <h1>PARTICULARS OF THE APPLICANT</h1>
                            <h5>Should be the Local Technical Representative</h5>
                            <div class="col-md-12">
                                <label class="form-label">Are you an LTR</label>
                                <select class="form-select" oninput="this.className = ''" name="AssignedATCCode"
                                    id="AssignedATCCode">
                                    <option selected disabled value="">Choose...</option>
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-4">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Postal Address</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Country</label>
                                <select class="form-select" oninput="this.className = ''" name="" id="">
                                    <option selected disabled value="">Choose...</option>
                                    <option value="">Kenya</option>
                                    <option value="">Uganda</option>
                                </select>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-4">
                                <label class="form-label">Physical Address</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Telephone number</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Email</label>
                                <input type="text" class="form-control" oninput="this.className = ''" name="" id="">
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Explain Relationship With Manufacturer</label>
                                <textarea class="form-control longText" oninput="this.className = ''"
                                    name="LtRRelationship" id="LtRRelationship" disabled></textarea>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <label class="form-label">Evidence of Relationship With Manufacturer</label>
                                <input type="file" class="form-control" oninput="this.className = ''" name="LtREvidence"
                                    id="LtREvidence" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="tab">
                        <div class="row my-2">
                            <h5>Name(s) and complete address (es) of the manufacturer(s) of the finished product</h5>
                            <div class="col-md-3">
                                <label class="form-label">Manufacturer Name</label>
                                <input type="text" class="form-control" oninput="this.className = ''"
                                    name="ManufacturerName" id="ManufacturerAIName" disabled>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Manufacturer Company Name</label>
                                <input type="text" class="form-control" oninput="this.className = ''"
                                    name="ManufacturerCompanyName" id="ManufacturerAICompanyName" disabled>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Manufacturer Address</label>
                                <input type="text" class="form-control" oninput="this.className = ''"
                                    name="ManufacturerAddress" id="ManufacturerAIAddress" disabled>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Manufacturer Country</label>
                                <input type="text" class="form-control" oninput="this.className = ''"
                                    name="ManufacturerCountry" id="ManufacturerAICountry" disabled>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-4">
                                <label class="form-label">Manufacturer Telephone Number</label>
                                <input type="text" class="form-control" oninput="this.className = ''"
                                    name="ManufacturerTelephone" id="ManufacturerAITelephone" disabled>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Manufacturer Mobile Number</label>
                                <input type="text" class="form-control" oninput="this.className = ''"
                                    name="ManufacturerMobile" id="ManufacturerAIMobile" disabled>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Manufacturer Email</label>
                                <input type="text" class="form-control" oninput="this.className = ''"
                                    name="ManufacturerEmail" id="ManufacturerAIEmail" disabled>
                            </div>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="row">
                            <h5>Good Manufacturing Practice (GMP) status of the manufacturer (s) </h5>
                            <div class="col-md-12">
                                <label class="form-label">GMP Certificate</label>
                                <input type="file" class="form-control" oninput="this.className = ''"
                                    name="CertificateGMP">
                                <div class="form-text">Attach certificate issued by VMD</div>
                            </div>
                        </div>
                    </div>
                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                        </div>
                    </div>
                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;margin-top:40px;">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<script>
    $(document).ready(function () {
        $('#AssignedATCCode').on('change', function () {
            if (this.value == "True") {
                $('#LtRRelationship').prop('disabled', true);
                $('#LtREvidence').prop('disabled', true);
            } else if (this.value == "False") {
                $('#LtRRelationship').prop('disabled', false);
                $('#LtREvidence').prop('disabled', false);
            }
        });
        $('#Legal1').on('change', function () {
            if (this.value == "True") {
                $('#legal2').prop('disabled', false);
                $('#legal3').prop('disabled', false);
                $('#legal4').prop('disabled', true);
                $('#legal5').prop('disabled', true);
            } else if (this.value == "False") {
                $('#legal4').prop('disabled', false);
                $('#legal5').prop('disabled', false);
                $('#legal2').prop('disabled', true);
                $('#legal3').prop('disabled', true);
            }
        });
        $('#AuthorisationStatus').on('change', function () {
            if (this.value == "1") {
                $('#MarketingCountry').prop('disabled', false);
                $('#DateAuthorisation').prop('disabled', false);
                $('#ProprietaryName').prop('disabled', false);
                $('#AuthorisationNumber').prop('disabled', false);
                $('#CertificateVeterinary').prop('disabled', false);
                $('#AuthorisationReason').prop('disabled', true);
            } else if (this.value == "2") {
                $('#MarketingCountry').prop('disabled', false);
                $('#DateAuthorisation').prop('disabled', false);
                $('#AuthorisationReason').prop('disabled', false);
                $('#CertificateVeterinary').prop('disabled', false);
                $('#ProprietaryName').prop('disabled', true);
                $('#AuthorisationNumber').prop('disabled', true);
            } else if (this.value == "3") {
                $('#MarketingCountry').prop('disabled', false);
                $('#DateAuthorisation').prop('disabled', false);
                $('#AuthorisationReason').prop('disabled', false);
                $('#CertificateVeterinary').prop('disabled', false);
                $('#ProprietaryName').prop('disabled', false);
                $('#AuthorisationNumber').prop('disabled', true);
            } else if (this.value == "4") {
                $('#MarketingCountry').prop('disabled', false);
                $('#DateAuthorisation').prop('disabled', false);
                $('#AuthorisationReason').prop('disabled', false);
                $('#CertificateVeterinary').prop('disabled', false);
                $('#ProprietaryName').prop('disabled', false);
                $('#AuthorisationNumber').prop('disabled', true);
            }

        });
        $('#ManufacturerQuiz').on('change', function () {
            if (this.value == "True") {
                $('#ManufacturerName').prop('disabled', true);
                $('#ManufacturerCompanyName').prop('disabled', true);
                $('#ManufacturerAddress').prop('disabled', true);
                $('#ManufacturerCountry').prop('disabled', true);
                $('#ManufacturerTelephone').prop('disabled', true);
                $('#ManufacturerMobile').prop('disabled', true);
                $('#ManufacturerEmail').prop('disabled', true);
                $('#ManufacturerRelationship').prop('disabled', true);
            } else if (this.value == "False") {
                $('#ManufacturerName').prop('disabled', false);
                $('#ManufacturerCompanyName').prop('disabled', false);
                $('#ManufacturerAddress').prop('disabled', false);
                $('#ManufacturerCountry').prop('disabled', false);
                $('#ManufacturerTelephone').prop('disabled', false);
                $('#ManufacturerMobile').prop('disabled', false);
                $('#ManufacturerEmail').prop('disabled', false);
                $('#ManufacturerRelationship').prop('disabled', false);
            }
        });
        $('#marketQuiz').on('change', function () {
            if (this.value == "True") {
                $('#marketName').prop('disabled', true);
                $('#MarketCompanyName').prop('disabled', true);
                $('#MarketAddress').prop('disabled', true);
                $('#MarketCountry').prop('disabled', true);
                $('#MarketTelephone').prop('disabled', true);
                $('#MarketMobile').prop('disabled', true);
                $('#MarketEmail').prop('disabled', true);
                $('#MarketRelationship').prop('disabled', true);
                $('#MarketEvidence').prop('disabled', true);
            } else if (this.value == "False") {
                $('#marketName').prop('disabled', false);
                $('#MarketCompanyName').prop('disabled', false);
                $('#MarketAddress').prop('disabled', false);
                $('#MarketCountry').prop('disabled', false);
                $('#MarketTelephone').prop('disabled', false);
                $('#MarketMobile').prop('disabled', false);
                $('#MarketEmail').prop('disabled', false);
                $('#MarketRelationship').prop('disabled', false);
                $('#MarketEvidence').prop('disabled', false);
            }
        });
    })
</script>
{% include 'footer.html' %}

{% endblock %}