{% extends 'base.html' %}
{% load static %}
{% block base %}

<!--Header-->
{% include 'navbar.html' %}
<!-- End Header -->
<!-- Sidebar-->
{% include 'sidebar.html' %}
<!-- End Sidebar -->
<main id="main" class="main">
    <section class="section contact">
        <div class="row bg-white">
            <div class="col-md-12">
                <div class="pagetitle my-3">
                    <h1>Advertisement</h1>
                </div>
                {% include 'alert.html' %}
                <div class="loader mx-auto text-center" id="spinner" style="display: none;">
                    <div class="loader__bar"></div>
                    <div class="loader__bar"></div>
                    <div class="loader__bar"></div>
                    <div class="loader__bar"></div>
                    <div class="loader__bar"></div>
                    <div class="loader__ball"></div>
                </div>
                <form id="regForm" class="bg-white p-4" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="advertisementNo" id="advertisementNo" value="">
                    <input type="hidden" name="myAction" id="myAction" value="insert">
                    <div class="border border-success rounded p-3  my-3">
                        <p class="text-small text-info">Advertisement Information</p>
                        <div class="row my-3">
                            <div class="col-md-12">
                                <label class="form-label">Form Of Advertisement <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="formOfAdvertisement"
                                    id="formOfAdvertisement">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn button-87 my-3 w-100">Submit</button>
                </form>
                <div class="card mt-2">
                    <div class="card-body">
                        <h5 class="card-title">My Applications</h5>
                        <!-- Bordered Tabs Justified -->
                        <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#bordered-justified-home" type="button" role="tab"
                                    aria-controls="home" aria-selected="true">New
                                    (<span class="open_count">
                                        {{0}}
                                    </span>)
                                </button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#bordered-justified-profile" type="button" role="tab"
                                    aria-controls="profile" aria-selected="false"> Pending Approval
                                    (<span class="pending_count">
                                        {{0}}
                                    </span>)
                                </button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#bordered-justified-contact" type="button" role="tab"
                                    aria-controls="contact" aria-selected="false">Approved
                                    (<span class="approved_count">
                                        {{0}}
                                    </span>)
                                </button>
                            </li>
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100" id="pending-tab" data-bs-toggle="tab"
                                    data-bs-target="#bordered-justified-pending" type="button" role="tab"
                                    aria-controls="contact" aria-selected="false">Rejected
                                    (<span class="rejected_count">
                                        {{0}}
                                    </span>)
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                            <div class="tab-pane fade show active my-4" id="bordered-justified-home" role="tabpanel"
                                aria-labelledby="home-tab">
                                <table id="open_table"
                                    class="table table-striped dt-responsive table-responsive-lg table-bordered datatable w-100">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Form Of Advertisement</th>
                                            <th>Amount Payable</th>
                                            <th>Paid</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade my-4" id="bordered-justified-profile" role="tabpanel"
                                aria-labelledby="profile-tab">
                                <table id="pending_table"
                                    class="table w-100 table-striped dt-responsive table-responsive-lg table-bordered datatable w-100">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Form Of Advertisement</th>
                                            <th>Amount Payable</th>
                                            <th>Paid</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade my-4" id="bordered-justified-contact" role="tabpanel"
                                aria-labelledby="contact-tab">
                                <table id="approved_table"
                                    class="table table-striped w-100 dt-responsive table-responsive-lg table-bordered datatable w-100">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Form Of Advertisement</th>
                                            <th>Amount Payable</th>
                                            <th>Paid</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade my-4" id="bordered-justified-pending" role="tabpanel"
                                aria-labelledby="contact-tab">
                                <table id="rejected_table"
                                    class="table table-striped dt-responsive w-100 table-responsive-lg table-bordered datatable w-100">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Form Of Advertisement</th>
                                            <th>Amount Payable</th>
                                            <th>Paid</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'footer.html' %}
<script>
    const $headerForm = $('#regForm');
    const $spinner = $('#spinner');

    $(document).ready(function () {
        Header_Data();

        function Header_Data() {
            $.ajax({
                url: '/advertise/',
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var openTableBody = $('#open_table tbody');
                    var pendingTableBody = $('#pending_table tbody');
                    var approvedTableBody = $('#approved_table tbody');
                    var rejectedTableBody = $('#rejected_table tbody');
                    openTableBody.empty();
                    pendingTableBody.empty();
                    approvedTableBody.empty();
                    rejectedTableBody.empty();

                    for (var i = 0; i < data.length; i++) {
                        var advertisementNo = data[i].AdvartisementNo;
                        var FormOfAdvertisement = data[i].FormOfAdvertisement;
                        var AmountPayable = data[i].AmountPayable;
                        var Paid = data[i].Paid;
                        var Status = data[i].Status;
                        var Currency = data[i].Currency;



                        var row = $('<tr>');
                        row.append($('<td>').text(advertisementNo));
                        row.append($('<td>').text(FormOfAdvertisement));
                        row.append($('<td>').text(Currency + " " + AmountPayable));
                        row.append($('<td>').text(Paid ? "Yes" : "No"));
                        row.append($('<td>').text(Status));


                        // create a link button
                        var viewBtn = $('<a>').attr({
                            href: "/advertise/" + advertisementNo + "/",
                            class: "btn btn-success btn-icon-text",
                            type: "button",
                            "data-toggle": "tooltip",
                            "data-placement": "top",
                            title: "Click to View"
                        }).text("details");


                        // append the link button to the last <td> element
                        row.append($('<td>').append(viewBtn));

                        // add the row to the appropriate table based on its status
                        if (Status === 'Open') {
                            openTableBody.append(row);
                        } else if (Status === 'Processing') {
                            pendingTableBody.append(row);
                        } else if (Status === 'Approved') {
                            approvedTableBody.append(row);
                        } else if (Status === 'Rejected') {
                            rejectedTableBody.append(row);
                        }
                    }
                    // initialize DataTables for each table
                    if (!$.fn.DataTable.isDataTable('#open_table')) {
                        $('#open_table').DataTable({
                            "pageLength": 5,
                            "order": [
                                [0, "desc"]
                            ]
                        });
                    }
                    if (!$.fn.DataTable.isDataTable('#pending_table')) {
                        $('#pending_table').DataTable({
                            "pageLength": 5,
                            "order": [
                                [0, "desc"]
                            ]
                        });
                    }
                    if (!$.fn.DataTable.isDataTable('#approved_table')) {
                        $('#approved_table').DataTable({
                            "pageLength": 5,
                            "order": [
                                [0, "desc"]
                            ]
                        });
                    }
                    if (!$.fn.DataTable.isDataTable('#rejected_table')) {
                        $('#rejected_table').DataTable({
                            "pageLength": 5,
                            "order": [
                                [0, "desc"]
                            ]
                        });
                    }
                    // update the table counts using DataTables API
                    $('.open_count').empty().append($('#open_table').DataTable().page
                        .info().recordsDisplay);
                    $('.pending_count').empty().append($('#pending_table').DataTable()
                        .page.info().recordsDisplay);
                    $('.approved_count').empty().append($('#approved_table').DataTable()
                        .page.info().recordsDisplay);
                    $('.rejected_count').empty().append($('#rejected_table').DataTable()
                        .page.info().recordsDisplay);

                },
                error: function (xhr, status, error) {
                    console.log("Error:", error);
                },
            });
        }

        $headerForm.on('submit', (e) => {
            e.preventDefault();

            if ($('#formOfAdvertisement').val() === '') {
                alert('Please fill in all required fields.');
                return false;
            }

            $spinner.show(400);
            document.getElementById('main').classList.add('loads');

            $.ajax({
                type: 'POST',
                url: '/advertise/',
                data: {
                    advertisementNo: $("#advertisementNo").val(),
                    formOfAdvertisement: $('#formOfAdvertisement').val(),
                    proposedCategory: $('#proposedCategory').val(),
                    myAction: $("#myAction").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (response) {
                    Header_Data();
                    if (response['response']) {
                        window.location.href = "/advertise/" + response['response'] +
                            "/";
                        iziToast.show({
                            theme: 'dark',
                            backgroundColor: '#239B56',
                            icon: 'las la-check-circle',
                            title: 'Yeah',
                            message: response['response'] +
                                " " +
                                "created successfully",
                            position: 'topRight',
                            progressBarColor: '#F4F6F7',
                        });
                        $('#formOfAdvertisement').val(
                            '');
                    } else if (response['error']) {
                        iziToast.show({
                            theme: 'dark',
                            icon: 'las la-exclamation',
                            title: 'Error',
                            message: response['error'],
                            position: 'topRight',
                            progressBarColor: '#ff0800',
                        });
                        document.getElementById('main').classList.remove('loads');
                    }
                    $spinner.hide(1500);
                    document.getElementById('main').classList.remove('loads');
                },
                error: function (error) {
                    console.log(error)
                    $spinner.hide(1000);
                    document.getElementById('main').classList.remove('loads');

                }
            });
        });
    })
</script>
{% endblock %}