{% extends 'base.html' %}
{% load static %}
{% block base %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<!--Header-->
{% include 'navbar.html' %}
<!-- End Header -->

<!-- Sidebar-->
{% include 'sidebar.html' %}
<!-- End Sidebar -->

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-md-12">
        <div class="card pb-3">
          <div class="card-body">
            <h5 class="card-title">Documents Pending Approval </h5>
            <table class="display table  table-striped dt-responsive table-responsive-lg table-bordered datatable">
              <thead>
                <tr>
                  <th scope="col">Product No.</th>
                  <th scope="col">Document Date</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Veterinary Class</th>
                  <th scope="col">Stage</th>
                  <th scope="col">Previous Retention</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for res in all %}
                <tr>
                  <td>{{res.ProductNo}}</td>
                  <td>{{res.Document_Date}}</td>
                  <td>{{res.Productname}}</td>
                  <td>{{res.Veterinary_Classes}}</td>
                  <td>{{res.DocumentStage}}</td>
                  <td><span class="badge bg-success">{{res.Previous_Year_Retension}}</span></td>
                  <td><a href="{% url 'productDetails' res.ProductNo %}" type="button" class="btn btn-success"> View <i
                        class="bi bi-eye"></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% include 'footer.html' %}

{% endblock %}